[2017-04-17 16:33] simnh opened #1 "Error when creating pypsa network (table names?)"
I tried to run the snapshot clustering, but there is still the following error:

[code]

I guess there is still something wrong with the table names and derived component names (should
resolve to StorageUnit and not Storage I guess)

[2017-04-18 11:44] s3pp commented on #1
This should do the trick openego/ego.powerflow@5dadbf5aed67d3fe280457d505833c3ebbcbc203.

[2017-04-18 11:44] s3pp commented on #1
I updated once again your requirements.

[2017-04-18 11:50] s3pp commented on #1
I guess, I should leave the ticket open. : ) Everything is so shaky atm, sry for that!

[2017-04-19 15:49] simnh opened #2 "Warning for pypsa network creation"
Running snapshot clustering I got the following warning:

[code]

Not a bug when creating the model but sould be fixed I guess

[2017-04-19 16:00] s3pp commented on #2
Thanks. I fixed this on openego/data_processing@fb34eac2520b0d881894abdea70cd9f8614c0fd8.

[2017-04-19 16:00] #2 closed

[2017-05-24 12:20] lukasol opened #3 "Test load flow formulation method"
Apart from default 'angles' method other methods like 'kirchhoff', 'cycles' or 'ptdf' should be tested in order to find ways to reduce computation time.

[2017-05-24 12:22] lukasol opened #4 "Test random noise to prevent optima plateau"

[2017-05-24 16:03] ulfmueller opened #5 "p_max_pu too high after using ehv clustering"
After this [commit](https://github.com/openego/eTraGo/commit/dde3ae8948b50f98f22f69bd950ee24103e4abb7) the problem is still pending.
I know @s3pp is already working on it. Just to have this pending task transparent here. Discussion might help as well...

[2017-05-24 16:05] ulfmueller opened #6 "Try out pypsa k-means clustering"
created this [branch](https://github.com/openego/eTraGo/tree/features/k-means-clustering/etrago) to work on this.

to cite Jonas Hoersch:
"Code is in pypsa/networkclustering.py. The code idea is to build a
series termed busmap that maps the old buses index to the new buses
index and then call get_clustering_from_busmap to generate the new
network."

[2017-05-24 16:13] ulfmueller opened #7 "Implementing switches into the 110kV grid model"
- [ ] finish the sql script implementation
- [ ] test the sql implementation
- [ ] perspectively write a function in python which does the same but within the pypsa network and not on the pgsql database as a new scenario

[2017-05-24 16:20] ulfmueller opened #8 "develop line loading minimization within the extra_functionality of the lopf()"
goal:
- prevent optima plateau
- maybe approximate line loss effects?!

for more information see [here](https://groups.google.com/forum/#!topic/pypsa/jVhmvoBh8WE)

[2017-05-24 16:24] ulfmueller opened #9 "infeasibility hunting using load shedding"
Attaching load shedding generators by something like

[code]

and then looking at where and when there is load shedding in order to hunt infeasibility locations

- [x] test it
- [x] write a little load shedding function

I will work on this [branch](https://github.com/openego/eTraGo/tree/features/load-shedding)

[2017-05-24 16:33] ulfmueller opened #10 "pf() after lopf()"
- [x] develop a functionality to couple lopf and pf in order to simulate Q and line losses after having done the linear optimization.
- [x]  implement the cosphi assumptions based on the lopf results
- [x]  implement and consider slack bus
- [ ] test the PF results: are there feasible results for DE and does the consideration of Q and losses lead to line loading > 100 %?
- [x] (calculation of addi

[2017-05-26 09:20] s3pp commented on #5
Unfortunately we could not see this in the IIS : (. Stacked generation plot looks much better now.

[2017-05-29 09:47] lukasol opened #11 "Try 2 LOPF for storage optimization"
Currently, the optimization of storage takes place in one LOPF run.
An alternative would be to abstract the storage_unit inputs in order to determine the flexibility needs and define storages / units based on these needs. The defined units can then be applied in a separate LOPF for validation.

[2017-05-29 13:22] s3pp commented on #9
As mentioned this could be implemented by adding functionality to PyPSA's network_lopf function or creating a utility function in eTraGo.

1. network_lopf function is parsed to pypsa.Network on instantiating. It is located in PyPSA/pypsa/opf.py and could be refactored to include load-shedding functionality. Adding an additional parameter in the function call is one possibility. Implementation woul

[2017-05-30 11:39] ulfmueller commented on #9
1. is implemented [here](https://github.com/openego/PyPSA/commit/d5ab623deee1a91494f39f9b1aac4b9d9b5ffa2e)

2. is implemented [also](https://github.com/openego/eTraGo/commit/1ca7f928d9b0e17e9f6d5b0cdbde92d39d35270d)

both ways work fine. It could be the question if 1. could be a pull request for the FIAS guys. Also it seems that the seperate function is the better way since the network_lopf() func

[2017-05-31 14:46] ulfmueller commented on #5
the corresponding feature branch in the PyPSA fork was also merged into the dev. Therefore I changed the [requirements](https://github.com/openego/eTraGo/commit/f1fd6c9402333252509a2ec7e3a157727cb15b91) @s3pp @wolfbunke @IlkaCu @lukasol Please update your settings...

[2017-05-31 14:52] #5 closed

[2017-06-01 14:51] ulfmueller commented on #6
I created a [first quick-and-dirty working version](https://github.com/openego/eTraGo/blob/features/k-means-clustering/etrago/k_means_testing.py#L110-L135)

[2017-06-02 09:18] lukasol opened #13 "Test, validate and merge snapshot clustering"
Similarly to network clustering, I also suggest to merge snapshot clustering into dev...

[2017-06-02 10:51] lukasol commented on #9
I think the separate option sounds cleaner.
Is it true that there should not be any infeasible solutions when using load_shedding? Because I just experienced the opposite when applying the second option...or is there anything that I need to do apart from running the function?

[2017-06-02 11:06] ulfmueller commented on #9
I think so too. it is a clearer cut between network building and solving the problem. But the second one is somewhat cool too...
you have to run the function before executing the lopf(). nothing else you should have to do.
The only reason for still having infeasibilities would be if there is something wrong with the lines or transformer e.g. x values which have null values... but if you run the ca

[2017-06-02 11:14] ulfmueller commented on #6
the remaining work would be

- [ ] implement the [todo](https://github.com/openego/eTraGo/blob/features/k-means-clustering/etrago/k_means_testing.py#L112-L115) so that the x of the lines which are newly defined as 380kV lines are adjusted
-[ ] convert it to a function and move it [here](https://github.com/openego/eTraGo/blob/features/k-means-clustering/etrago/cluster/networkclustering.py)

[2017-06-02 11:18] ulfmueller commented on #6
... and then of course test it and find out how we want to use it.

- comparison to ehv clustering.
- find out how many clusters make sense.
- find out about the influence on the solutions.
- a similar workflow like for the snapshot clustering should be developed...

[2017-06-02 11:29] ulfmueller commented on #8
now the objective function is added by an additional line-flow-reduction statement by an  [extra_functionality](https://github.com/openego/eTraGo/blob/features/line-loading-minimization/etrago/extra_high_voltage_SH_appl.py#L118-L123)

Principally this works. But like that, negative values of flows would be minimized and therefore maximized which does not make sense.
Therefore the remaining problem

[2017-06-02 13:38] ulfmueller opened #14 "Refactor eTraGo and ego.powerflow"
the task was to

1. be able to connect not only to the model_draft schema but also to the versioned grid schema.
2. write a translater from the database structure which is based on the PyPSA 0.6 model to the PyPSA 0.8 world - without changing the database
3. get rid of io functionalities within the application files and shift that to the io in ego.powerflow
4. find an easy way for working with jus

[2017-06-06 08:33] lukasol commented on #14
I haven't tested anything of the above, but like the idea and initiative very much!

[2017-06-06 09:44] lukasol commented on #4
A one-liner to add random noise to all generators with marginal_cost of 0 has been added in https://github.com/openego/eTraGo/commit/4d970384074918783965cdf8382d1e87c733094f

Needs testing if this is able to prevent optima plateaus.

[2017-06-07 16:20] ulfmueller commented on #14
now after some bug fixing all the 'old' functionalities seem to work fine in the new structure. I will create a pull request so we can merge this into the dev branch.

[2017-06-08 11:43] #14 closed

[2017-06-08 13:39] lukasol commented on #4
Since the random noise is generated really randomly each time, it might make sense to do this manipulation closer to the database in order to allow comparison of results with the same noise.

[2017-06-08 14:05] ulfmueller commented on #4
@wolfbunke thinking about the RE allocation within the grid district, this 'random but reproducible paradoxon' was also something which was discussed. Is there anything you learned which we can use in this context?
Generally it would be interesting if this sth. the Frankfurter have thought about and if yes how the dealt with it...

[2017-06-09 08:40] wolfbunke commented on #4
As fare as I know the random allocation is predefined by by its types and size. By using a small spacial grid  the new position can only be used ones. The difference are tagged by geom, new_geom, and an distance line geom.  By having the unique unit id and the new and old geom the difference are comparable.

In your case I would use a log table with the an unique and assignable ID and the value in

[2017-06-12 09:48] lukasol commented on #9
I think the problem mentioned above is resolved since it works for me now. However, my impression is that the load shedder is used quite often, i.e. for a week in the SH test scenario. At the same time, no extendable storages are set. What if we increase the price for the load shedder in order to avoid too much competition with the storages?

[2017-06-12 10:56] ulfmueller commented on #9
yes. I have thought about that issue as well. We can do that of course. But anyway, in my mind if we optimize with storage investment options I would simulate without load shedding. Then the storages do that job and we do not have the mentioned conflict. Don't you think? Do I miss s.th.?

[2017-06-13 13:21] lukasol opened #16 "Make appl.py open source solvable"
It seems that the current (data) setting of eTraGo can only be solved by gurobi solver. Open source alternatives like GLPK and CBC should also do the task.

[2017-06-15 13:53] lukasol commented on #9
No, that's true.
Computation time does however increase clearly when using storage instead of load_shedding.

Since the load shedder is implemented, tested and working now, I propose to close this issue.

[2017-06-15 14:02] #9 closed

[2017-06-16 12:40] CaroDg commented on #16
I simulated eTraGo with the GLPK solver and it worked. I used the Status Quo scenario and activated the load shedding function.

[2017-06-22 13:06] ulfmueller opened #17 "Grouping of lines as an option for the appl.py"
as an idea / nice-to-have we could think about realizing the [simplification in the dp](https://github.com/openego/data_processing/issues/133) within eTraGo and leave the data as it was before...

@lukasol do you have an opinion on that?

[2017-06-23 07:58] lukasol commented on #17
Sounds better than doing it on the data side.

[2017-06-30 07:56] lukasol opened #18 "Release 0.1"
- [x] update requirements file
- [x] merge dev into master
- [x] release repository (possibly with pypi)

[2017-06-30 08:13] lukasol opened #19 "Load shedding analysis"
work on https://github.com/openego/eTraGo/tree/features/load-shedding-analysis

- [x] one-year simulation in order to find all nodes with load shedding
- [x] discuss solutions: could we improve the subgrid connection if this is the reason

[2017-06-30 08:59] lukasol commented on #4
the random noise can be reproduced with `np.random.seed()` which is already part of the top part of appl.py

Reproduction for different scenarios is not possible.

[2017-06-30 09:14] lukasol opened #20 "v.0.3 Release"
Start: Monday, 17.7.
Finish: Thursday, 20.7.

Consider all Tickets with Milestone 0.2 and the update of higher resoluted weather data and wind power curves (redmine ticket 1070, 431)

[2017-06-30 10:03] ulfmueller commented on #19
I added a few lines which calculate and plot the total loadshedding per bus over the simulated timerange. see 937937117501b7753388e180942a946f03939334

@CaroDg Can you proceed?
I will start calculations for the entire year (via parallelisation) and then you can evaluate the buses where it happens...

[2017-06-30 11:03] ulfmueller opened #21 "parallelisation of lopf"
implement s.th. similar to [this](https://pypsa.org/examples/scigrid-lopf-then-pf.html) for calculation time intensive simulations such as the one in #19

[2017-06-30 11:21] lukasol commented on #13
- [ ] insert latest dev changes into snapshot clustering branch @ulfmueller
- [ ] try merging updated snapshot clustering into dev

[2017-06-30 12:57] lukasol opened #22 "Testing of Network Clustering"
Preparation:
- [ ] dis-aggregate EHV dispatch results to HV buses
- [ ] prepare HV LOPF with pre-defined dispatch from EHV LOPF (using p_min_pu and p_max_pu)
- [ ] prepare HV LPF and/or PF with pre-defined dispatch from EHV LOPF (pq-sets)

Testing with SH test scenarios:
- [ ] LOPF for HV grid with grid operator regions, refer to #7
- [ ] LOPF for HV grid with shortest-path clusters of HV grids
-

[2017-06-30 20:23] lukasol commented on #18
Version 0.1 of eTraGo has been released. There is currently no pypi release, could be done though.

[2017-06-30 20:23] #18 closed

[2017-07-03 08:15] lukasol opened #23 "Calculate grid loss costs with PF"
See #10 for the implementation of the PF.
Especially with regards to the eGo tool, we need full costs for grid losses.

- [x] Calculate the grid losses for all lines using the results of the PF
- [x] assume average costs to cover these losses

[2017-07-03 08:22] lukasol opened #24 "Define dispatch and costs for Germany and neighbours"
Currently, dispatch is presented as a total system with all neighbouring countries being one node.

- [x] differentiate between German and non-German load and dispatch
- [x] present the difference as import or export
- [x] goal: get one `network` that only presents German load and dispatch and all import and export separately
- [x] adjust the plotting functions, i.e. stacked_gen accordingly

[2017-07-03 16:18] ulfmueller commented on #10
added a branch with a first coupling lopf pf example: https://github.com/openego/eTraGo/blob/features/pf_after_lopf/etrago/appl.py#L106-L138

[2017-07-04 07:40] ulfmueller opened #25 "Branch expansion optimization"
For this a branch was created. And the current development is going on [here](https://github.com/openego/eTraGo/blob/features/lines_optimization/etrago/line_opti_appl.py)

[2017-07-04 15:12] ulfmueller commented on #13
I adjusted the snapshot clustering with respect to the above check. @simnh you could now try out if it works. Better not do it before tomorrow because the oedb moves to a new server today...

[2017-07-05 12:04] mariusves opened #26 "Add setup.py for pip install"
To be able to install eTraGo a setup.py is needed. Also certain parts in the modules as well as the appl.py have to be adjusted.

[2017-07-05 14:44] wolfbunke commented on #26
Nice, I placed also a setup see: https://github.com/openego/eTraGo/blob/features/etrago-function/setup.py but at the moment it is still work in progress. I will wait until your a done, thx

[2017-07-06 10:23] mariusves commented on #26
Just after I uploaded my setup.py I saw your comment as well as your setup.py .
Are all these requirements necessary? I would think that they are covered already by ego.powerflow and ego.io?

[2017-07-06 12:09] wolfbunke commented on #26
oh yes, I think your right!

[2017-07-10 15:34] ulfmueller commented on #6
I solved the issue with the x adjustment [here](https://github.com/openego/eTraGo/blob/features/k-means-clustering/etrago/appl.py#L97) (see checkbox above).
the other todos are still pending... @wolfbunke or @mariusves

[2017-07-10 15:41] ulfmueller commented on #6
After reading the [contribution](https://arxiv.org/pdf/1705.07617.pdf) more closely I added an additional todo to the checkboxes.

[2017-07-11 12:54] ulfmueller commented on #4
another thing I just learned. This optima plateau is also called 'degeneracy'. [Here](https://ocw.mit.edu/courses/sloan-school-of-management/15-053-optimization-methods-in-management-science-spring-2013/tutorials/MIT15_053S13_tut07.pdf)  is a nice Tutorial explaining it....

[2017-07-11 12:57] ulfmueller commented on #8
By the way this approach is mainly (concerning 'optima plateau' or better called 'degeneracy') addressing the same problem as the solution developed in #4

[2017-07-12 10:41] mariusves commented on #26
added via b9778e4

[2017-07-12 10:41] #26 closed

[2017-07-12 10:49] ulfmueller commented on #26
@mariusves Could you edit the readme so one knows that it is possible/necessary to install via pip:
sudo pip3 install -e path
similar to the readme of the [data processing](https://github.com/openego/data_processing/blob/master/README.md)
?

[2017-07-12 10:52] mariusves opened #29 "Make use of new export2db feature of ego.powerflow"
For the new export2db feature of ego.powerflow everything is prepared.
For testing check out the following branches:
https://github.com/openego/eTraGo/tree/feature/add-export2db
https://github.com/openego/ego.io/tree/features/add-pf-result-tables
https://github.com/openego/ego.powerflow/tree/features/add-export2db
https://github.com/openego/data_processing/tree/features/add-pf-result2db

The new r

[2017-07-17 08:02] #16 closed

[2017-07-17 08:14] lukasol commented on #4
Test the dimension of the random noise!

[2017-07-17 08:42] lukasol opened #31 "Use extendable lines to replace load shedding"
Depending on the results of load shedding analyses in #19 allow the respective lines (those that connect nodes with increased load shedding) to be extendable. Then test this functionality and its potential to replace load shedding in a new run.

[2017-07-17 09:35] ulfmueller commented on #20
@lukasol checkout PR: https://github.com/openego/eTraGo/pull/28 and give your review. For me it works like that. I am not 100% sure if the solution with the function etrago() in the appl.py is the best - but it seems ok and eGo can use that function like planned...

[2017-07-17 12:16] ulfmueller commented on #21
9ddcb32edce8d082c155d03d929a857c9af8c39a closes this issue

[2017-07-17 12:16] #21 closed

[2017-07-18 11:47] IlkaCu commented on #22
The EHV cluster method aggregates generators per EHV bus and technology, therefore the resulting timeseries need to be re-allocated to the original generators and their hv buses.
Alternatively we could avoid the aggregation of generators and treat them as individual generators in the EHV calculations.

[2017-07-20 09:55] lukasol commented on #4
- read random noise from file or database result table. May be implemented in #29
- discuss if noise can be repeated across scenarios in order to enable comparison
- if possible replace random noise utilization by #8

[2017-07-20 11:41] lukasol commented on #20
There will be a small Release 0.2 at 20.07.2017

All other open issues are migrated to Milestone Release 0.3

[2017-07-20 11:42] lukasol commented on #17
Is this resolved and in dev yet?

[2017-07-20 11:43] lukasol commented on #3
There will be an extensive documentation on the solvers and formulation methods by Milestone Release 0.3

[2017-07-20 12:10] ulfmueller commented on #17
not even close. so far the grouping has been done in sql in the dp. This is a pending task for @mariusves with rather low priority because there is already a sql solution... I would suggest to give it the new milestone...

[2017-07-20 14:29] ulfmueller commented on #17
not even close. so far the grouping has been done in sql in the dp. This is a pending task for @mariusves with rather low priority because there is already a sql solution... I would suggest to give it the new milestone...

[2017-08-15 12:48] ulfmueller commented on #19
The analysis of the one-year simulation shows that 127 out of 11309 nodes show some load shedding.
[This image](https://github.com/openego/eTraGo/files/1225026/loadshedding.pdf) gives you an impression about absolute load shedding and their regional distribution. How do we proceed? What are our options?
- check out manually the 127 nodes and their surroundings
- #31
- improve osmTGmod's subgrid al

[2017-08-15 13:18] lukasol commented on #19
I also prefer #31. It seems absolutely obvious that load_shedding (almost) only occurs in urban areas with quite weak mapping coverage. Subgrid function is in my eyes quite hard to modify and would in the best case result in the same as automatically extending the lines: with having no load_shedding left.

[2017-08-17 13:38] lukasol commented on #23
Consider fundamentals of electricity...not just the simple diffs because with pf Q parts lead to increased flows.

[2017-08-21 12:00] lukasol commented on #4
The random noise can now be generated in the first run with a scenario / dataset. The noise is automatically saved to a .csv file and can be re-used in future runs with the same scenario / dataset.
**Please note that manually disabling the creation of the .csv is necessary for that.**

This works for now, but it would still be more elegant to achieve a similar result by #8.

[2017-08-21 12:00] #4 closed

[2017-08-22 07:20] lukasol opened #33 "Network clustering bug"
Hi,
I receive the following error when setting `networkclustering = true` with data from the versioned schema. It seems to be irrelevant which scenario or spatial dimension I use (SH or DE). Any clues?

WARNING:pypsa.components:Attribute network.now is not in newly-defined snapshots. (network.now is only relevant if you call e.g. network.pf() without specifying snapshots.)
No data for StoragePqSet

[2017-08-22 13:50] wolfbunke commented on #6
A new Branch is created in order to have the new dev applications. see: https://github.com/openego/eTraGo/tree/features/k-means-clustering2/etrago

[2017-08-23 09:17] lukasol commented on #23
We'll mainly focus on the copper losses `P = I^2 x R` for all lines, calculated with the PF results.

Additionally, voltage-based losses for the transformers could be assumed by using the standard losses given by the producers for a specific set of pre-defined transformers. These are not dependent of the current and can thus easily be defined.

Other losses will be disregarded.

[2017-08-23 10:17] ulfmueller commented on #23
as a base you can use the [pf_after_lopf branch](https://github.com/openego/eTraGo/tree/features/pf_after_lopf) for your loss calculation. It works very fine for the SH status quo scenario and for the timesteps chosen. But it seems to work fine with basically all snapshots. The problem is the bug in the x of the transformer which changes a lot. In the new dp version the x will be fine. In order to

[2017-08-23 10:55] wolfbunke opened #34 "Error if lpfile path is set"
I tried to use the attribute **'lpfile':** in order to save my results but following Error appeared:
[code]
I took a look into the etrago() function:
[code]
For me, It seems to be an Error in the network class ->` from egopowerflow.tools.io import NetworkScenario`, or?

Any ideas, how to solve this error?

[2017-08-23 11:15] lukasol commented on #34
Could you provide the line where you specified the line "lpfile"?

[2017-08-23 11:37] ulfmueller commented on #34
I just talked to @wolfbunke . The problem is that you have to specify the file name at the end of the path. That solved the problem.

[2017-08-23 11:37] #34 closed

[2017-08-23 11:39] ulfmueller commented on #34
updated the commentary see: 94e15c85e6b01088da7705cc146e1af984c3c043

[2017-08-23 11:41] wolfbunke commented on #34
yes, thx!

[2017-08-23 12:20] lukasol commented on #23
I added the function `calc_line_losses` in https://github.com/openego/eTraGo/commit/eb4830805027b5ea62ec28a5a52096896a066ac4

@ulfmueller please check!

[2017-08-23 14:25] ulfmueller commented on #23
Looks good. Havent tried it out yet.
Which could be added is the calculation of the transformer copper losses. The copper losses of transformers can be calculated by
loss_tranformer = (apparent power S/S_nom)² * nominal copper losses of the transformer. There as well we have to make assumptions for our nominal copper losses...

[2017-08-23 14:51] lukasol commented on #23
That would mean that we do consider power-dependent losses of transformers. We could also just use the no-load losses according to the producers. Would you know of a nice source for this?

[2017-08-24 12:58] s3pp commented on #33
Thanks for reporting. I will look into it next week! I have yet no clue what is happening there.

[2017-08-28 12:16] lukasol commented on #20
The Release v.0.3 will take place at Friday, 08. September.

Please try to finish your development until then and merge the respective branches into dev by 12:00 h.

@ulfmueller @wolfbunke @IlkaCu @BartelsJ

[2017-08-28 13:06] lukasol commented on #10
Just for your info: I just did a LOPF - then - PF run for the hours 1 and 2 for Germany NEP 2035 and it solved.

[2017-08-28 13:07] lukasol commented on #10
...but the error of the PF is not "0.000", but "nan"...

[2017-08-28 13:55] ulfmueller commented on #19
we decided to try out the #31 . Therefore the following discussion takes place there.

[2017-08-28 13:55] #19 closed

[2017-08-28 14:02] ulfmueller commented on #25
- @kropsi92 : can you push your code development in the branch I created? Or did you push your code somewhere else?

- We meet on wednesday. After that I would like to post an update on the implementation here.

- Considering #31 I would like to see your code because I think we can use it there and adjust it to the problem statement of #31

[2017-08-29 08:53] wolfbunke commented on #6
* Dev Branch and old k-means-clustering branch are merge together in [features/k-means-clustering](https://github.com/openego/eTraGo/tree/features/k-means-clustering).
* The branch  k-means-clustering2 is deleted
* K-mean clustering is working as before

[2017-09-01 11:06] ulfmueller commented on #33
I just reproduced the error. I do not have a clue why it happens. The busmap in model_draft exists but remains empty. I called the lopf on data from the versioned grid schema (because the model_draft pf schema are empty right now). Could that be a problem? Am I right that the busmap is put in the model_draft anyhow?
@s3pp Have you had a look into it already?

[2017-09-05 09:52] ulfmueller commented on #8
Kim, successfully implemented the function. I would now clean up a bit and push the development into the dev branch.

First test have shown that computation time is essentially slowed down by this method (roughly factor 2). Therefore a new idea popped up. We could perform the line loading minimization once for all scenarios in order to define a marginal cost noise (see #4 ) which is 'inspired' by

[2017-09-05 11:12] s3pp commented on #33
Sorry for answering late. I successfully created the busmap without writing it to the database.

It seems like
<pre>
217     df.to_sql('ego_grid_pf_hv_busmap', if_exists='append',
218               con=session.bind, schema='model_draft')
</pre>

in etrago/cluster/networkclustering.py executes without throwing an exception, but does not work anymore, that's why the table remains empty.

[2017-09-05 14:07] s3pp commented on #33
I made a minor change regarding the export of the busmap, only affected the busmap functionality, that's why I merged it already. Now ego_pf_hv_busmap is populated again and does not remain empty as reported by @ulfmueller . Unfortunately this was not causing the original error. I had to address clustering strategies in PyPSA to make it work again. PyPSA groups entities on bus and carrier, if with

[2017-09-05 16:56] wolfbunke commented on #6
* weighting by load and gen is implemented to K-mean in  65dd81f
* function needs to be moved to some import files like tools etc.
* @ulfmueller  could you please test it and give feedback in order to close this issue soon.

[2017-09-06 14:35] ulfmueller opened #39 "change 'ormcls_prefix' automatically when changing 'gridversion'"
Right now depending on choosing model_draft or the grid version for the args 'gridversion' we have to consequently change the 'ormcls_prefix': 'EgoPfHv' or 'EgoGridPfHv'.
As a default I would like that this change in ormcls_prefix would be realized automatically.

[2017-09-06 14:46] ulfmueller commented on #6
sure I can test it. Have you tested it so far? Could you perform a little evaluation how the weighting works? How it performs compared to the 'all buses have equal weighting'? Do you want me to do that or just checking if it works without raising an error?

[2017-09-06 14:47] ulfmueller commented on #6
are you planning on doing so before the friday release?

[2017-09-06 15:18] wolfbunke commented on #6
and yes, I like to do it tomorrow so far.

[2017-09-06 16:30] ulfmueller commented on #6
I changed the calculation of x to a more generic one by 6ee4fc4367f0a516ae2cdccde2ef71bc85ec9e9f
That issue popped up - I did not have it on the check list. Anyhow like that it should work fine.
So the last remaining work is
- [ ] 'cleaning up' aka make a function and move it to utilities.py and
- [ ] compare and test the results

But just the first thing is necessary in order to include this in t

[2017-09-07 07:17] ulfmueller commented on #33
now it works! thx @s3pp ! But PyPSA has to be checked out in that feature branch you created. Do you think we can merge it into dev or do the changes interfere with other functionalities? Could the changes affect the k-means clustering?
If not, I would like to merge it into dev.

[2017-09-07 07:26] ulfmueller commented on #10
The functionality is already merged into dev branch [see here](https://github.com/openego/eTraGo/blob/dev/etrago/extras/utilities.py#L195) and it can be chosen in the appl.py. The feature branch is still there because there still some features (see check list above) pending.

[2017-09-07 07:42] lukasol commented on #8
Yes. let's develop that.
What if we do a full-year run similar to the load shedding analyses carried out in #19 (with parallelization and without storage) for the line loading minimization and assign noises according to these results?

[2017-09-07 07:44] BartelsJ commented on #3
Several solvers, formulation methods and szenarios were tested with respect to computation time. Tendency of gurobi/angles for small systems (~federal states) and cplex/angles for greater systems (~countries). Results are documented [here](http://oep.iks.cs.ovgu.de/redmine/projects/open_ego/wiki/Performance_verschiedener_Solver_und_LOPF-Formulierungen_in_eTraGo_(AP_34)).

[2017-09-07 07:45] #3 closed

[2017-09-07 07:46] lukasol commented on #10
What exactly do you mean by additional costs? The costs induced through transmission losses? That would be part of #23

[2017-09-07 07:49] lukasol commented on #24
is it realistic to finish this by release date tomorrow?

[2017-09-07 07:55] ulfmueller commented on #10
Your are right. That should be it and part of #23 . I changed it but left it there as a link, to have it in mind in case I forgot an effect. But I think we do not have to consider other costs due to the non-linear pf.

[2017-09-07 07:59] lukasol commented on #20
Hi team,
please remember tomorrow's release plan (see above) and document your progress in all tickets referring to milestone Release v0.3. If something cannot be implemented for the release, please also document that and remove the assignment to the milestone.

[2017-09-07 08:15] ulfmueller commented on #20
In some cases (e.g. #10 ),
the main work has been finished and already pushed to the dev (so it will be part of the release), but some task remain to be pending.
In these cases should we just remove the assignment to the milestone, even though parts have been realized within that milestone?

[2017-09-07 08:20] lukasol commented on #20
In that case, please state in the comments that you contributed something to dev and then remove the Release tag.

[2017-09-07 10:58] wolfbunke commented on #24
no.

[2017-09-07 11:01] wolfbunke commented on #20
I removed #24 because I can not ensure to finishing it.

[2017-09-07 11:15] ulfmueller commented on #39
Thx @mariusves !

[2017-09-07 11:15] #39 closed

[2017-09-07 11:44] IlkaCu commented on #20
Unfortunately I didn't manage to work on #22 due to the endless DP-debugging. I removed the milestone from this issue.

[2017-09-07 12:58] lukasol commented on #23
The general logic has been implemented in #41

Open issues:

- [ ] calculate copper losses for transformers
- [ ] find a nice way to include the results of the loss calculations to the network container

[2017-09-07 14:02] ulfmueller commented on #33
Generally from my understanding of the method it should be fine to merge it to dev.
Two thoughts on this:
1. could be an elegant option to perform the clustering before applying the noise
2. it does not make sense to me, that the k-means clustering did not show this error because it uses the same functions for the aggregation of oneports/generators as the ehv clustering. This I would like that s.o

[2017-09-08 06:02] wolfbunke commented on #6
merged branch k-mean-clustering into dev  in d8bea00

[2017-09-08 06:57] ulfmueller commented on #6
nice, Wolf! I hope it works. Next time, a pull request with a review for s.o. would be even nicer. This way I hope you reviewed it yourself sufficiently ;)

[2017-09-08 07:28] wolfbunke commented on #6
oh, sorry! Yes it works with the last fix ;-)  65f0c31

[2017-09-08 07:45] wolfbunke commented on #6
Shortly a visual plot of the difference with weighting by load and generation and without (all = 1)

**with weighting by load and generation:**
![kmean_figure_1_weighting](https://user-images.githubusercontent.com/14540685/30201183-170c4a04-947a-11e7-83c9-e7ed44338247.png)

**without weighting by load and generation:**
![kmean_figure_1_without_weighting](https://user-images.githubusercontent.com/1

[2017-09-08 07:51] mariusves commented on #17
added first iteration of the python solution in ce04cfc
going to test it by doing several calculations now... Hope everything works so this can be added to the Release 0.3!

[2017-09-08 09:46] ulfmueller opened #42 "corresponding release ego.io and ego.powerflow"
Due to this bda27bc99ab59d22e67bfe76d94043797e1c49d4 changes in ego.io and ego.powerflow are relevant.
I would suggest we have small new releases in ego.io and ego.pf in order to hint to them in the setup.py. Otherwise we would have to link to the dev branches of those repos.

@lukasol aka release-master What do you think?

[2017-09-08 09:46] lukasol opened #43 "scaling of line loading plot"
In my opinion it always leads to confusion when the bar indicating the line loading is scaled differently.
What do you think of just strictly scaling it to 0% - 100%?

Obviously, the plots would often not be that nice and colorful, but that is also a message...

![gurobi_sh_21_ll](https://user-images.githubusercontent.com/17782967/30206080-414e1156-948b-11e7-99e9-9eae6175d5b6.png)

![gurobi_sh_20_

[2017-09-08 09:51] lukasol commented on #42
Yes let's do this.
@ulfmueller we can talk about the how-to in our scheduled call later. If that's too late, you could create PRs for the releases so that the other developers touched by that have a chance for feedback.

[2017-09-08 09:51] ulfmueller commented on #43
I would like to have it as an optional argument in the plotting function.

[2017-09-08 10:58] lukasol commented on #42
I created the PR for ego.powerflow.
For ego.io I don't know which branch to choose. The dev branch seems to be almost up to date with master...

[2017-09-08 11:19] mariusves commented on #42
I've now updated ego.powerflow to also accept settings from the args-section, that are not yet available as a column in the results_meta. These will be inserted as a list in the column "misc". Changes were commited to the dev branch already and therefore should be included in the PR.

The needed changes in ego.io were commited to a seperate branch, which has now an open PR @ulfmueller. Those weren

[2017-09-08 11:32] ulfmueller commented on #42
I merged the ego.io changes into dev.

[2017-09-08 12:22] lukasol commented on #6
- [ ] add functionality to save the resulting cluster for reproducibility
- [ ] test k-means results.

[2017-09-08 12:24] lukasol commented on #17
Okay, we add to the release. @mariusves please state your testing results here.

[2017-09-08 12:26] mariusves commented on #17
Everything looks good so far!

[2017-09-08 12:31] lukasol commented on #29
This has been added to the release. @mariusves  has it been tested?

[2017-09-08 12:33] #17 closed

[2017-09-08 12:34] lukasol commented on #8
@kimvk could you create a new ticket for that and close this one?

[2017-09-08 13:01] mariusves commented on #29
This has been tested for several different settings, apart from network_clustering, since that feature somehow failed to work on my end (probably my fault). But I think that it should not cause any issues.

[2017-09-08 13:03] lukasol commented on #29
There was a bug with the network clustering, but it should be working by now. Thanks!

[2017-09-08 13:03] #29 closed

[2017-09-08 13:04] lukasol commented on #42
ego.io has been released with v0.2.11 and
ego.powerflow has been released with v0.0.5

The requirements of eTraGo have been updated accordingly. A new update may be necessary once the pypi release has been carried out.

[2017-09-08 13:04] #42 closed

[2017-09-08 22:01] lukasol commented on #20
Release 0.3 has just been successfully completed. Thanks to all of you for your contribution!

We switched several ToDos to an upcoming release, I think the project meeting is the right place to discuss how we proceed here.

[2017-09-08 22:01] #20 closed

[2017-09-11 12:25] kimvk opened #46 "Define noises according to the minimal line loading results"
We have merged the line-loading-minimization into the dev branch and closed that issue (see #8).

First test have shown that computation time is essentially slowed down by this method (roughly factor 2). Therefore a new idea popped up. We could perform the line loading minimization once for all scenarios in order to define a marginal cost noise (see #4 ) which is 'inspired' by that minimal line lo

[2017-09-11 12:35] kimvk commented on #46
I will have a look at the capacity (curtailment) of each generator and how to implement a marginal cost noise with the results. Perhaps we can meet this week to discuss further steps.

[2017-09-11 12:37] #8 closed

[2017-09-12 09:46] s3pp commented on #1
[io.py](https://github.com/openego/ego.powerflow/blob/dev/egopowerflow/tools/io.py) in ego.powerflow was rewritten and is up and running for a while. Subsequently this issue is closed.

[2017-09-12 09:46] #1 closed

[2017-09-13 08:50] ulfmueller commented on #10
I forgot s.th. so far. We have to consider the position and usage of the slack in the pf!
For the position we defined it in redmine  #935. It is still pending to implement this into this function.
Also an evaluation of the usage of this slack should be undertaken. We have to tackle possible inbalances in an adequate way.

[2017-09-13 09:13] lukasol opened #47 "Re-assign extendable storages"
It might make sense to assign H2 storages to EHV nodes and batteries to HV nodes only. Among other things due to the fact that storage results are transferred to the MV grids.

Additionally, it might make sense to set a minimal capacity for H2 storages in order to prevent small storage units.

Implement and test this.

[2017-09-13 09:14] lukasol opened #48 "Test clustering methods"
Once the clustering approaches are implemented, test their respective performance with regards to the results (optimization results, total costs, ...) and their computation time.

[2017-09-13 14:42] mariusves opened #49 "Add db username to result meta table"
Add username to result table to be to identify the person who uploaded the results.
Use this solution from the DP:

https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/python_scripts/functions/ego_scenario_log.py#L55-L64

[2017-09-15 10:58] ulfmueller opened #50 "Extendable storages and infeasible lopf"
We have talked about it already, I think.
Load shedding makes the lopf for the 'Status Quo' scenario feasible. Turning load shedding off and instead setting storage extendable on the other hand does not lead to a feasible result. To me, that makes no sense. Any ideas for reasons or solutions?

for reproducibility, take e.g. the following setting:
'gridversion':'v0.2.11', snapshot: 2320, 'scn_name'

[2017-09-15 11:02] ulfmueller opened #51 "Does the 'line-grouped model' perform better?"
For the lopf, does the grouping of lines changes runtime? Can you do some comparison?

see #17

[2017-09-15 14:48] lukasol commented on #23
https://github.com/openego/eTraGo/commit/c2ba428ffd08367c30fec3335852607e195a2816 solved the remaining issues. Transformer losses are now calculated with a simple assumption of efficiency according to literature.

[2017-09-15 14:48] #23 closed

[2017-09-15 14:49] lukasol commented on #50
Thanks for bringing that up again.

To me, however, there is an explanation for this:
in contrast to load shedding, the extendable storages need to get some filling, i.e. excess energy, before they can be used and set up. Thus, if you choose a few snapshots with a high load and low feed-in, the storages cannot be filled and are consequently not built. I tried a few other snapshots and also some lo

[2017-09-15 14:51] ulfmueller commented on #50
sounds very reasonable! thx!

[2017-09-15 14:51] #50 closed

[2017-09-18 09:09] lukasol commented on #33
I would move your first point to a nice-to-have list with a lower prio, okay?

I cannot really comment on your second point, but yes it seems odd.

Apart from that, the networkclustering works for me for the Status Quo scenario, the NEP 2035 threw an error in my first attempt. I will post here if it reproduces.

[2017-09-18 09:11] lukasol opened #52 "Apply noise before networkclustering"
Came up in #33 by @ulfmueller

[2017-09-18 11:42] lukasol commented on #13
Is there a new status here?

[2017-09-19 07:13] lukasol commented on #33
Okay I get this error whenever running the network clustering with the NEP 2035 scenario. Looks like something data-related. Anyone else running into this?

    cursor.executemany(statement, parameters)
OperationalError: (psycopg2.OperationalError) SSL SYSCALL error: EOF detected
 [SQL: 'INSERT INTO model_draft.ego_grid_pf_hv_busmap (scn_name, bus0, bus1, path_length) VALUES (%(scn_name)s, %(bus0)

[2017-09-19 07:35] wolfbunke commented on #33
I was checking the message it looks like a known Postgresql Error: https://stackoverflow.com/questions/20201711/pg-internalerror-ssl-syscall-error-eof-detected. I will run the NEP scenario with clustering to see what is happing at my system.

[2017-09-19 08:13] wolfbunke commented on #33
At my system network clustering works. I am working on /openego/PyPSA (dev) newest version and   eTraGo with my last  commit 08ad797dfac80e97ac636ed13cdbc8853922a466 from 8. September.

**My args setting was:**
[code]
The result was:
![bildschirmfoto vom 2017-09-19 10-10-05](https://user-images.githubusercontent.com/14540685/30582127-e2e4d7b2-9d22-11e7-844a-4b43ebc89559.png)

[2017-09-19 08:18] lukasol commented on #33
That looks like SH, that works for me too. I'm talking about the full German dataset.

[2017-09-19 08:34] s3pp commented on #33
Hm, maybe the connection to the database was lost while creating the busmap. Did it run a substantial time, like an hour, before the error was thrown?

[2017-09-19 08:44] lukasol commented on #33
Yes, several hours (I thought busmap was created once?!).
My problem is that apart from the schema `grid ` the function seems to rely on the schema `model_draft`, which makes running on a local dump more difficult.

[2017-09-19 09:18] s3pp commented on #33
<pre>
Yes, several hours (I thought busmap was created once?!).
</pre>
If a busmap is present via the session for a specific scenario it should not be created again. I see, if it has timed-out I think it would be necessary to check if there is still a valid connection to the database before writing the busmap back. I could implement that if that's the real issue here because maybe running the appl

[2017-09-19 09:47] lukasol opened #53 "Extendable storages in networkclustering"
Apparently, the extendable storages are clustered to the EHV nodes as well. I'm not sure, if this makes sense and if we should do so, what do you think? The parameters of the storages (efficiency, max_hours, standing_loss) are obviously touched by this as they are averaged and not really comparable any longer. An alternative could be to just disregard all HV storages and just consider the ones at

[2017-09-19 15:19] mariusves commented on #51
The line grouping does indeed change the runtime of the calculations. I've done 3 runs with 2 calculations each (non grouped & grouped). The "Import section" included the line grouping process:

First run:
Non grouped:
--> Import: 0.695 min
--> Calculations: 39.955 min

Grouped:
--> Import: 3.954 min
--> Calculations: 31.911 min

--------------------------------
Second run:
Non grouped:
--> Import

[2017-09-19 16:38] ulfmueller commented on #53
I would suggest to do the clustering before assigning the extendable storage. But that would mean to shift this from the data processing to etrago, which I would prefer anyhow.

Or your disregarding idea sounds good as well and would have the same outcome. I don't know how the clustering would have to be changed. @s3pp: what do you think?

[2017-09-19 16:48] ulfmueller commented on #51
Could you do some testing with more than 2 snapshots? May be with the sh scenario (faster)
I would expect that the calculation time will then outrun the extra time at the beginning?!

[2017-09-19 18:15] mariusves commented on #51
Each calculation was done with 20 snapshots. I can try the SH scenario with 500 snapshots tomorrow.

[2017-09-19 19:48] s3pp commented on #53
Do you mean that extendable storages would no longer be part of the storages table and their definition takes place in eTraGo? Imo the code would become more explicit by that and separate scenario data and application functionality. I think that would be a good idea. Or did I get your idea wrong? @ulfmueller The far more easier way though is to adapt the networkclustering. This should only be a fe

[2017-09-20 06:59] BartelsJ commented on #53
I agree shifting the storage settings to eTraGo to ensure comparability of the storage parameters for the clustering. I`m not sure whether I got the disregarding idea. It is about fixing the EHV nodes during clustering and therefore the storage settings (parameters remain in data processing) of them won't be averaged?

[2017-09-20 08:21] mariusves commented on #51
Here are the times for the SH Status Quo scenario with 1000 snapshots (2420-3420):

Non grouped:
--> Import: 0.092
--> Calculations: 24.004

Grouped:
--> Import: 0.118
--> Calculations: 17.601

[2017-09-20 13:40] ulfmueller opened #54 "Move ego.powerflow functionalties to eTraGo"
We decided to get rid of the package ego.powerflow and include our functionalities into eTraGo.

[2017-09-20 13:49] mariusves commented on #51
Got one more, this time with SH Status Quo and 3000 snapshots (crashed twice, because I ran out of RAM):

Non grouped:
--> Import: 0.199
--> Calculations: 123.333

Grouped:
--> Import: 0.227
--> Calculations: 79.46

[2017-09-20 14:19] lukasol commented on #53
The idea of "disregarding" was to simply leave out the averaging for storages connected to the EHV and just use the one or two storages directly sited at the EHV node.
That should be quite easy to implement, I guess?! @s3pp

I'm, however, not entirely certain if we'll get any drawbacks from that, e.g. when it comes to dis-aggregating the results back to HV nodes. Do you think that the one EHV stor

[2017-09-20 14:43] ulfmueller commented on #53
- @s3pp said it would be easy to implement.
- Maybe due to the underground storage potentials it could be a bit more tricky...
- What do you think about the idea of moving the extendable storage functionality to eTraGo?

[2017-09-21 07:30] lukasol commented on #53
That would be okay, since we thought about reducing the underground storages to EHV nodes anyway...(since they will be too big for HV)

I think it's too much effort for too much nice-to-have. But could be realized if it turns out to be necessary.

[2017-09-21 07:48] ulfmueller commented on #53
probably. ok, then I would say we go into the 'adjustment of ehv network clustering direction'.

disaggregation is anyhow a challenge. Since these storages are an optimization variable and we only will optimize on the ehv level, in general I think it is ok to disregard the storage variables on the hv levels. In particular, I guess we should develop our methodology of disaggregation in order to be

[2017-09-21 12:05] wolfbunke commented on #33
Ok, a new calculation is started with the "NEP 2035" scenarion. It is running but I got few warnings:
[code]

[2017-09-21 13:09] s3pp commented on #33
These warnings shouldn't be related to the network clustering, but to the network data. There are some generators in grid.ego_pf_hv_generator_pq_set, that are not in grid.ego_pf_hv_generator.

[2017-09-21 13:23] wolfbunke commented on #33
ok, thanks!

[2017-09-21 13:53] ulfmueller commented on #10
The implementation of the cosphi assumptions is trivial. all big pp are PV generator. all small pp have a cosphi=1. (assumptions see redmine #935). Therefore we do not need any q_set for generators.
We just have to be sure that the q_set from the loads are imported. That should be the fact looking at the [json](https://github.com/openego/ego.powerflow/blob/dev/egopowerflow/tools/config.json#L13)

[2017-09-21 13:55] ulfmueller commented on #10
@mariusves will implement the slack bus definition.

[2017-09-21 15:38] ulfmueller opened #55 "random noise twice"
It seems that [this](https://github.com/openego/eTraGo/blob/dev/etrago/appl.py#L74-L77) equals [that](https://github.com/openego/eTraGo/blob/dev/etrago/appl.py#L87-L93). Can we delete the first mentioned lines of code?

[2017-09-22 04:20] wolfbunke commented on #33
After less then 12 h I run into gurobi licence issues  :-) I will update gurobi and start it again.
Maybe the report has some interesting parts so far:
[code]

[2017-09-22 06:51] lukasol commented on #55
Yeah I know it is odd. We could do so, but the idea behind it was to reproduce the noise for the same network set each time. Otherwise, a new noise will be generated each time etrago is run. That's why I wanted to assign the noise before the function, which is now not possible any longer due to the network creation within the function.
Would you have any idea how we could reproduce the noise more

[2017-09-22 06:53] lukasol commented on #33
Well, looks good for the busmap. I just don't get that far. Could you please state your args? And are you running with the latest versions of eTraGo etc.?

[2017-09-22 14:00] wolfbunke commented on #33
Yes I will update eTraGo. With my actual setting I got my first - unfortunately error-  result:

[code]

[2017-09-22 14:03] wolfbunke commented on #33
My args have been:
[code]

[2017-09-22 14:05] ulfmueller commented on #33
well, Wolf, the clustering worked - you just had the 'pf_post_lopf' function set to 'True'. The lopf was solved well just the pf did not work. That is another known problem which does not have anything to do with the ehv clustering.

[2017-09-22 14:08] wolfbunke commented on #33
ok, I will change the setting and run it again.

[2017-09-22 14:15] ulfmueller commented on #33
it seems that the busmap was created fine! :+1: The following runs should be solved at normal speed.

[2017-09-22 14:16] wolfbunke commented on #33
ok

[2017-09-22 14:23] wolfbunke commented on #33
software is up-to-date and calculation runs. let's see in few hours what will happen :smile:

[2017-09-22 14:27] ulfmueller commented on #53
I talked to @s3pp a bit yesterday. In this context I had an idea. In both clustering methods the generators are aggregated with respect to their carriers. Would it be an option to cluster the ext. storages (as well as the already existing ones) with respect to their attributes, in which they differ? In which ways do they differ? max_hours, due to the two types long-term and short-term storage? The

[2017-09-25 07:32] lukasol commented on #53
Well, yes you explained yourself. Generally, that sounds good. Since we don't have capacity limits for the extendable storages (well, it is 1000000 currently), there is not really much difference between clustering the storages of the same class and just applying one storage per class.
So I think clustering only makes sense for the existing storages and here I would prefer your solution of aggrega

[2017-09-25 09:58] lukasol opened #56 "Documentation eTraGo"
- [x] technical implementation of read the docs to eTraGo
- [x] fill documentation with at least description of args

[2017-09-25 10:09] mariusves commented on #54
First iteration of this issue is commited to the branch  https://github.com/openego/eTraGo/tree/feature/dissolve-ego-powerflow-in-etrago

[2017-09-25 11:06] ulfmueller commented on #54
How far is this?
I would like to include it into the upcoming release!

[2017-09-25 11:22] mariusves commented on #54
I tested it and could not find any major issues or bugs (since this didn't contain any big changes I guess) . I think it's ready to be merged. Shall I create the PR?

[2017-09-25 16:24] ulfmueller opened #57 "load shedding"
@mariusves The adjustment of the load shedding function does not seem to work fine.
I think [this](https://github.com/openego/eTraGo/commit/6f67ba55540a1cd9e80598dfa836e80cbf80b73a) should fix the problem. Partly it does (now the id seems to be unique) but apparently it still does not work fine.
Can you please check this out?

[2017-09-26 07:27] mariusves commented on #57
The fix you committed should fix the "not-unique" bug. What other error are you getting while using this?

[2017-09-26 13:12] MarlonSchlemminger commented on #24
Marius, did you already start working on this?

[2017-09-27 08:40] ulfmueller commented on #24
@mariusves please answer the previous question. if the answer is no, @MarlonSchlemminger  will work on this.

by the way:
@MarlonSchlemminger with the @ the person you are asking gets a notification...

[2017-09-27 08:45] mariusves commented on #24
@marlonschlemminger no, I haven't started working on this. Go ahead!
Thanks @ulfmueller for the mention, I somehow didn't receive a notification beforehand even though I'm subscribed to this thread....

[2017-09-27 12:55] ulfmueller commented on #55
wouldnt it be an option, that if you want to use an 'old' / already produced noise that you state that in the args e.g. by stating a path to the noise file? If you do not do that but you do want a noise a new one is created (which you can use for further use if you like).

[2017-09-27 15:03] lukasol commented on #55
Good idea, I pushed something like that into dev.

[2017-09-27 15:03] #55 closed

[2017-09-27 15:25] ulfmueller commented on #13
I just pulled the recent dev into the snapshot feature branch and I tried to get it running. I just pushed a very dirty solution which seems to work. @simnh you can have a look at it (last very dirty commit: df6d92ad2bfde7fce037f3905e19952ec04b00ab) Since it did not work out today, when shall we meet in order to move on? do you have any time this week? I think if we meet, after that I would be abl

[2017-09-27 16:37] MarlonSchlemminger commented on #43
Added 2 new attributes to plot_line_loading in branch features/plot-line-loading.
"Fixed_colors" makes the colorbar go from 0 to 100%, independent from the data. "boundaries" takes 2 values [startvalue, endvalue] and makes the colorbar go from startvalue to endvalue (see figure below). If fixed_colors is True, it overwrites the boundaries.
![pll_boundaries](https://user-images.githubusercontent.co

[2017-09-28 08:27] lukasol commented on #43
Nice, that sounds good! And thank you for taking this over :)
@MarlonSchlemminger could you create a pull request if you think this is ready to merge?

[2017-09-28 08:45] ulfmueller commented on #57
@lukasol it looks like with your 3543fcd1549d9f14657d01c03b69cb74c7ec794a you accidentally got rif of my fix 6f67ba55540a1cd9e80598dfa836e80cbf80b73a Accident or purpose?

[2017-09-28 08:47] lukasol commented on #57
definitely accidentally ;-) I tried to re-do that, but it didn't work out obviously...which one is the correct version?

[2017-09-28 08:54] mariusves commented on #57
Correct version should be `start = network.generators.index.astype(int).max()`
Shall I fix it?

[2017-09-28 08:57] lukasol commented on #57
Thx that would be nice!

[2017-09-28 09:23] ulfmueller commented on #43
I just tried it out. It works fine. Cool!

I have one idea for a minor adjustment. I think the combination of fixed_colors and boundaries is a bit confusing (e.g. to have a fixed boundary you need to state fixed_colors is false and then set your boundary...)
I would suggest that you get rid of the attribute fixed colors and just stay with the boundaries.
boundaries=[ ] -> no fixing, the legend is

[2017-09-28 09:49] MarlonSchlemminger commented on #43
Yeah sure, thats easy to do.

[2017-09-28 09:50] MarlonSchlemminger commented on #43
I discovered another bug when startvalue is not 0 this morning, so I will push a new version when I fixed this as well.

[2017-09-28 09:59] wolfbunke commented on #56
short Info update:

- http://docs.readthedocs.io/en/latest/getting_started.html
- https://github.com/oemof/oemof/wiki/How-to-release

[2017-09-28 11:06] MarlonSchlemminger commented on #43
Removed fixed_colors and fixed the bug. @lukasol There is another new attribute in the function which is not ready to merge yet, I will talk to Ulf and merge as soon as this is ready as well.

[2017-09-28 13:28] mariusves commented on #57
re-added the fix with 8c05628.

[2017-09-28 13:38] mariusves commented on #10
I added a first versionof a function to find the new slack generator, that needs to be evaluated still.

In the first step of this function, the `control` value of the  "old" slack generator from the lopf is set back to its original state (PV or PQ) based on the rules set [here](https://github.com/openego/data_processing/blob/dev/dataprocessing/sql_snippets/ego_dp_powerflow_assignment_generator.sq

[2017-09-28 14:38] ulfmueller commented on #53
@s3pp I humbly ask you if it would be possible be for you to implement a clustering of storages with respect to their 'max_hours' (comparable with the methodology for the generators and their 'carriers')?
If it is not possible for you, maybe you can show me how/where you would implement this...

We decided that this would be the most adequate solutions since this works for the existing as well as

[2017-09-28 15:35] ulfmueller commented on #56
I would say we do it in a similar structure as [oemof](https://github.com/oemof/oemof/tree/dev/doc). [ding0](https://github.com/openego/ding0/tree/dev/doc) looks also like that.

As I see it we can already start documenting without having the connection to rtd (so this can be done in parallel).

I created a doc folder and three first rst files (6b5e96ccf4a93947a3974c37dac5a65091ee1c24):
- about
-

[2017-09-29 08:35] wolfbunke commented on #56
I was testing available names for eTraGo and eGo as well. Few are already gone like:
- http://ego.readthedocs.io/en/latest/

I saved for the beginning http://openego.readthedocs.io/en/latest/ now.

Further option could be
- egotool
- or open-ego, ego-tool

For eTraGo I created  etrago.readthedocs.io

It is online available under:

- [ etrago.readthedocs.io](etrago.readthedocs.io)
-[ etrago.rtfd.io

[2017-09-29 09:45] wolfbunke commented on #56
The implementation of read-the-docs is started in:  60039a9

[2017-09-29 10:07] ulfmueller commented on #56
cool! what a pity that ego is gone already... I think the openego domain you saved is a good plan B!
concerning your implementation, for now, I would get rid of the 'usage_details.rst'. I think the usage.rst is enough. At least I would not know how to differentiate these 2.

[2017-09-29 10:09] wolfbunke commented on #56
ok few errors appears:

[code]
@lukasol @ulfmueller @BartelsJ  Why we have the src folder in the repository of eTraGo?

[2017-09-29 10:15] ulfmueller commented on #56
I do not know what the src folder does, is and why it is there. Looking at the history, @BartelsJ created it and might know...

[2017-09-29 11:07] wolfbunke commented on #56
ok, I was testing few things:

-  adding [requirements.readthedocs.txt](http://docs.readthedocs.io/en/latest/faq.html#can-i-document-a-python-package-that-is-not-at-the-root-of-my-repositoryl) on two folder levels
- changing [setup.py ](https://github.com/openego/eTraGo/blob/dev/setup.py#L20-L23)
- adding sphinx_rtd_theme to requirements.txt

I am stopping for now and take later a look into this b

[2017-09-29 11:43] ulfmueller commented on #57
I still get the error:
ERROR:pypsa.io:Error, new components for Generator are not unique
and in the following the problem is infeasible.

I just checked and calculated one problem with load sheding and one without. Both times the same amount of generators are connected. It seems your solutions is not working yet. Please fix this asap.

[2017-09-29 12:22] mariusves commented on #57
fixed with a41958d. I had missed the `+1` at `start = network.generators.index.astype(int).max()+1`

I tested it and did not receiver the "not unique" error anymore.

[2017-09-29 12:29] ulfmueller commented on #57
works for me know too. thx for dealing with this right away.

[2017-09-29 13:54] ulfmueller commented on #57
nice now I can close this :+1:

[2017-09-29 13:54] #57 closed

[2017-09-29 14:43] lukasol commented on #56
I guess that's a merge error and was created by accident. I'm pretty sure you can delete the directory.

[2017-09-29 15:17] wolfbunke commented on #56
ok, done

[2017-09-29 15:28] wolfbunke commented on #56
ok, looks for me that it's working now:

-  http://etrago.readthedocs.io/en/latest/

[2017-09-29 15:34] ulfmueller commented on #56
Nice!
How to use eTraGo is mentioned twice...

[2017-09-29 15:48] wolfbunke commented on #56
small bug in http://etrago.readthedocs.io/en/latest/py-modindex.html
bug maybe in https://github.com/openego/eTraGo/blob/dev/doc/conf.py#L155

[2017-09-29 16:08] wolfbunke commented on #56
fixed by using: `sphinx-apidoc -o api/ ../etrago`

[2017-09-29 16:35] s3pp commented on #53
@ulfmueller Of course I can try to implement it next week or at least start to do so and keep you up to date here!

[2017-09-29 16:53] wolfbunke commented on #56
add fist draft of a doc-string documentation for the etrago args in 561dcac

[2017-10-02 10:59] MarlonSchlemminger commented on #24
@ulfmueller
Added new branch features/german-dispatch to both etrago and egopowerflow. Added function clip_foreign in utilities.py which takes a network and returns a new network where all foreign components are deleted. So far I hardcoded the coordinates of the foreign buses to cut them out, any other ideas on that? The difference between the remaining german load and generation is stored as a ne

[2017-10-03 10:42] ulfmueller commented on #24
Nice @MarlonSchlemminger ! Can you create a Pull Request to push your branch into dev and assign me (and @lukasol ) as a reviewer?

[2017-10-04 09:28] mariusves commented on #54
Merge complete.

@MarlonSchlemminger How far are the latest changes to ego.powerflow? Since you made some changes (I think regarding german dispatch etc.), these are not yet included in eTrago. How far is the development of that branch? When finished, please tell me so I can merge the new functionality into eTrago and then we can finally delete ego.powerflow since it's obsolete.

[2017-10-04 09:37] lukasol commented on #56
I updated the docstrings in https://github.com/openego/eTraGo/commit/487bd09f22751d58498fbc5f10080402e5a45c8f

It's not complete yet, maybe one of you can do that...

In that context I also rearranged the args a bit and tried to give them some structure...

[2017-10-04 11:49] lukasol commented on #47
I undo the milestone since this cannot really be tested as of now. Will do it at a later stage.

[2017-10-04 11:58] s3pp commented on #53
Ups, thought this would solve the issue. It does not. Will look into it.

[2017-10-04 12:47] MarlonSchlemminger commented on #54
You can merge german-dispatch, I am done with that.

[2017-10-04 13:52] MGlauer opened #59 "ValueError using GLPK"
Running eTraGo with `solver=glpk` and otherwise default settings on the most recent oedb data yields
`ValueError: Expecting 's' row after 'c' rows`
[code]

It seems to fail at the very first line of the *.glpk.glp-file, which is:
`p lp min 5641 4090 12292`

Additionally, I receive the following warnings:

[code]

[2017-10-04 14:47] ulfmueller commented on #10
That is a how it is meant to be! Thx! Havent checked the code but the logic sounds like we talked about it.
@mariusves Can you work on the last checkbox?
Maybe we can close this ticket within the next release then...

[2017-10-04 14:56] mariusves commented on #59
I don't have a solution for the glpk bug, but I can tell you that I'm working on a fix to get rid of the warnings.

[2017-10-04 15:02] ulfmueller commented on #10
I just checked the code. The logic is not 100% correct. The slack node will be the bus which has the maximal feed-in. Consequently you have to sum the generator_t over the buses, then select the bus with the highest feed-in over the year and take the biggest generator at that power plant which has to be a PV generator considering this [condition](https://github.com/openego/data_processing/blob/dev

[2017-10-04 15:06] ulfmueller commented on #59
By the way, considering the warning,  why do we have x values which are 0 in the dataset? - I thought that was not possible anymore. r - ok but x should not be possible anyhow because the lopf would devide by 0 then as well. Are there any branches (transformer/lines) which have x=0?

[2017-10-04 15:12] ulfmueller commented on #59
@MGlauer I could not reproduce your error. I just successfully optimized using the glpk solver. I simplified a bit the default values for the args. May be pull the [changes](https://github.com/openego/eTraGo/commit/ff4f6ebf3eeb021cd6a4496d71dce3893c96cc84) and try out again.

[2017-10-04 15:22] mariusves commented on #59
We don't have `x` values that are `0` but `x_pu` values that are `0`. That is because the grouping has to be done before the calculations and before PyPSA calculates the pu-values.

For `r` values, these are not always available for certain lines, hence the warning.

I'm going to implement a check for zeros in the grouping function to prevent these kind of warnings.

[2017-10-04 15:31] s3pp commented on #53
I had to come up with a solution so that PyPSA's _flatten_multiindex (networkclustering.py) does not have to handle a Float64Index inside the Pandas Multiindex of the grouped new_df DataFrame. I don't know how to handle this in a better way. It's hard coded for max_hours now : (.

[2017-10-05 09:39] MGlauer commented on #59
Unfortunately, the error remains.  Even a compete re-installation of eTraGo with a fresh venv did not fix anything. From my perspective there are two potential points of failure:

1. You are using a different data set than I am. I used the most recent data from the oedb.
2. You are using a different version for some package which is not listed in the `setup.py`. You could just mail me a `pip freez

[2017-10-05 09:49] ulfmueller commented on #59
Nope. Same here.

just mail me a `pip freeze` and I could check myself.

done.

do you mean the args[]? Like I posted, they were [these](https://github.com/openego/eTraGo/commit/ff4f6ebf3eeb021cd6a4496d71dce3893c96cc84)

same here.

[2017-10-05 10:11] kimvk commented on #46
I pushed the new calculation for the marginal_cost_noise in the branch #features/marginal_cost_noise.
The definition of the calculation is stored in extras.utilities.

[2017-10-05 10:34] kimvk commented on #46
Calculations with the marginal cost noise have shown changes in the mixture of the different generator types (diagramm: plot_stacked_gen). For example solar power is used less than before. The overall result, the sum of the absolute power shows only minimal differences (network.generators_t.p.abs().sum().sum()). I do not know how to value these results, if they can be neglected or not.

[2017-10-05 10:55] BartelsJ commented on #59
I reproduced the error and got rid of it turning load_shedding to True (see closed issue #16). Interestingly, the error disappeared when I switched the load_shedding back to False. It seems that the bug is caused by a failing definition of marginal_costs. When I defined them explicit like "marginal_cost = 1000" the calculation runs.

[2017-10-05 11:22] MGlauer commented on #59
Setting `load_shedding` did not help either. **But**: I finally found the origin of the error. This is actually a [bug in pyomo 5.2](https://github.com/Pyomo/pyomo/issues/146). Installing the master branch-version solved the issue.

[2017-10-05 11:55] #59 closed

[2017-10-05 12:47] wolfbunke commented on #6
After our Webco I was testing the kmean function on the dev branch and it is working well for me. But I saw that n networks was set to 100 so maybe this  was irritating?
What do you think about placing the number of networks as argument in args? Does it still not works for you?@BartelsJ @lukasoldi @ulfmueller

[2017-10-05 14:08] MarlonSchlemminger opened #60 "Heatmap to plot v_mag_pu"
The goal is to implement a new function which plots a heatmap showing the voltage at each bus to identify areas with high voltages.

[2017-10-05 14:10] MarlonSchlemminger commented on #60
Just a picture we can talk about tomorrow.
![example](https://user-images.githubusercontent.com/22960010/31231599-9ad45a2a-a9e7-11e7-97df-62618b241722.png)

[2017-10-05 14:29] ulfmueller commented on #60
Nice. Looks good. I just remembered a [plot for the nodal prices](https://pypsa.org/examples/scigrid-lopf-then-pf.html) (in row [25]) . The problem is basically the same. So you could just use that graphing functionality. Sorry, I just remembered that. But maybe you can take a look at that in order to implement a legend.

[2017-10-05 14:59] BartelsJ commented on #6
I also tried it for 20 cluster and it worked for me as well. Regarding number of cluster as argument, I would prefer to change the input type to integer and automatically set k_mean_clustering=True for int > 0 or something similar.

[2017-10-05 15:12] ulfmueller commented on #6
I changed it, that you can state directly the k in the args. See 321cb242afce3247e8b1b1f22c674cab5c042b02
Havent tried it out yet. Does the solution work for you?

[2017-10-05 15:34] ulfmueller commented on #6
sorry, it works for me. It was a problem with my pypsa installation. I tested the above stated solution. It works fine. I would leave it like this if you agree.

[2017-10-05 16:25] s3pp commented on #56
I tried to figure out why readthedocs is not up-to-date with the code. rtd [will clone and install](http://docs.readthedocs.io/en/latest/builds.html) eTraGo in a virtual environment on their own server using setup.py and will then run the build process with

This does not succeed atm, because some packages are not part of the setup.py and e.g. dependencies of snapshot_clustering_app.py are not met

[2017-10-06 06:50] mariusves opened #61 "Check oedb session compatibility to ego.io connection"
Taken from @ulfmueller (issue in ego.powerflow):

Check out how the [session maker in ego.eTraGo](https://github.com/openego/eTraGo/blob/dev/etrago/tools/utilities.py#L22-L48) works with the adjusted [session maker in ego.io](https://github.com/openego/ego.io/pull/24/commits/4c2caea68c7da5e633d1190b7b456d3eb8013e34).

- [x] Check if we can get rid of the function here in ego.eTraGo and do that onl

[2017-10-06 09:01] lukasoldi opened #62 "Save results of k-means clustering"
See #6

- [ ]  add functionality to save the resulting cluster for reproducibility

[2017-10-06 09:02] lukasoldi commented on #6
The results function will be implemented in #62, the testing takes place within #48

[2017-10-06 09:02] #6 closed

[2017-10-06 09:04] lukasoldi opened #63 "Test PF results"
Moved from #10

- [ ]  test the PF results: are there feasible results for DE and does the consideration of Q and losses lead to line loading > 100 %?

[2017-10-06 09:04] lukasoldi commented on #10
Testing has been moved to #63

@mariusves please close this ticket once the slack definition is finished.

[2017-10-06 09:11] lukasoldi commented on #31
@kimvk could please state your current progress briefly here? Thanks!

[2017-10-06 11:42] mariusves commented on #10
I'm currently working on the suggested changes.
How should we deal with buses that don't have a PV generator available? I don't think that it's very likely that these buses will have the highest feed in, but I'm still wondering if I should implement a kind of "fail prove check"?

[2017-10-06 11:57] ulfmueller commented on #10
Yeah I think that would be good. Maybe an easy way is that you only take the buses where at least one PV generator is installed for the evaluation of the bus with the highest feed-in. That way the possibility you are talking about cannot happen.

[2017-10-09 07:42] lukasol commented on #33
I'm still struggling with the networkclustering for the German dataset (SH works fine). I do this with Status Quo data version v0.2.11 of the grid schema. NEP 2035 works fine again. This is the error I receive:

cpu_cores (default 4): 4
Traceback (most recent call last):
  File "<ipython-input-4-c46fa15303ad>", line 1, in <module>
    network = etrago(args)
  File "<ipython-input-2-03a2f4c645e7>",

[2017-10-09 11:29] s3pp opened #65 "Improve docs of networkclustering"

[2017-10-09 11:30] s3pp commented on #65
#33

[2017-10-09 11:58] lukasol opened #66 "Networkclustering creates subnetworks"
Do you also encounter subnetworks when using networkclustering? Currently, I am working with NEP 2035 data on version v0.2.11 and receive 7 subnetworks...

[2017-10-09 15:51] #24 closed

[2017-10-10 06:48] lukasol opened #68 "Release 0.4"
Hi,
as you might know, there will be an eTraGo Release 0.4 this week. In order to include all the latest development, please make sure to merge your work into dev and close the respective issue if finished. You can find all issues supposed to go into Release 0.4 by sorting the issues by their milestone.

If you cannot finish a ticket assigned to this milestone by this Thursday, please state that h

[2017-10-10 07:06] wolfbunke opened #69 "Merge confilct in /utilities.py"
Hi there is an merge conflict in etrago/tools/utilities.py

see: https://github.com/openego/eTraGo/commit/b7532c802235fa9cde7feac21650c1985e240dda#diff-ded59a7d4d5c3dceed045659f5d6469c

I am not sure which code is needed and which is our dated.
@MarlonSchlemminger @lukasoldi @ulfmueller

[2017-10-10 07:20] wolfbunke commented on #69
ok, I hope I could solve it with t cc20949

[2017-10-10 08:15] #43 closed

[2017-10-10 08:29] #69 closed

[2017-10-10 13:53] lukasol commented on #56
I just completed the documentation of the args. Is there any progress on the technical front? If that's completed, I'd say we close this issue.

[2017-10-10 14:34] mariusves commented on #54
As of now, all functionalities of ego.powerflow have been integrated into eTrago. Therefore, this ticket will be closed.

[2017-10-10 14:34] #54 closed

[2017-10-10 14:48] mariusves commented on #10
with the latest commit 426e576 I improved the determination of the slack bus.
First, the dispatch of **all** generators are summed and grouped up per bus that they are connected to.
Then, it is verified if the bus with the highest dispatch has a PV generator. If that is not the case, the bus with the second highest dispatch is checked and so on. This repeats until a bus with a PV generator is foun

[2017-10-10 15:44] mariusves opened #70 "Bug in requirements.txt"
While trying to install eTraGo with the requirements [these lines ](https://github.com/openego/eTraGo/blob/dev/requirements.txt#L5-L6)caused an error.
I commited a [quick hotfix](https://github.com/openego/eTraGo/commit/f420b70beae3df6f32eb50ea0551d7db16d4d565), could you share some insights if the now commented-out lines are necessary?

[2017-10-10 19:13] wolfbunke commented on #62
I was check the new function of  [results_to_oedb](https://github.com/openego/ego.powerflow/blob/dev/egopowerflow/tools/io.py). At the moment it looks for me that this function is already doing this task or?

I took a look into the result arguments of the clustering ` dir(network) `which I can also find in the **`results_to_oedb `** function. The data set after clustering holds only the cluster re

[2017-10-11 06:56] lukasol commented on #10
For me that sounds very reasonable. Since @ulfmueller is on leave now, I think we can merge it to dev for the release tomorrow.
@mariusves could you create a PR once finished with the development on the branch?

[2017-10-11 07:03] wolfbunke commented on #70
no, I removed them. Please just merge my pull request of #71. Thank you!

[2017-10-11 07:55] mariusves commented on #70
Fixed, thanks for the quick response!

[2017-10-11 07:55] #70 closed

[2017-10-11 08:33] mariusves commented on #10
Closed by a9aa595.
Further testing will be carried out in issue #63.

[2017-10-11 08:33] #10 closed

[2017-10-11 08:52] s3pp commented on #68
#33 will not be resolved in time for release 0.4

[2017-10-11 12:29] lukasol commented on #56
@wolfbunke could you please update the general project info [here](https://github.com/openego/eTraGo/blob/dev/doc/conf.py#L88-L91) to the same structure we used in the scripts?

[2017-10-12 12:38] lukasol commented on #56
I remove this ticket from Release 0.4.
@wolfbunke please assess if this is finished and can be closed or not.

[2017-10-12 12:39] lukasol commented on #13
I assume this has not been finished for Release 0.4 and remove the milestone.

[2017-10-12 13:05] lukasol commented on #68
eTraGo version 0.4 has been successfully released.

[2017-10-12 13:05] #68 closed

[2017-10-13 07:03] wolfbunke commented on #56
At the moment the args documentation can't be seen on http://etrago.readthedocs.io/en/latest/. I can do it on Monday.

[2017-10-18 11:38] mariusves commented on #62
Unfortunately in it's current state the export function with k_means enabled does not work. I'm going to implement a small fix.

The problem is the results_meta table and the datatype of certain columns e.g. k_means_clustering which was of boolean type before but now is kind of both: boolean or integer.

Maybe I should change the result meta completely, so that it takes all given arguments as a li

[2017-10-18 15:12] MGlauer opened #77 "Too few clusters in germany"
Using k-Means clustering with *NEP 2035* yields 9 Clusters. The reason seems to be that all but 9 weightings are set to 0 - thus only 9 Buses are distributed in 100 Clusters.

Is this linked to the [missing `conv types` in non-SH scenarios](https://github.com/openego/eTraGo/blob/7754b410a8d5401e211a67a6c44c5120ef549674/etrago/cluster/networkclustering.py#L325) or does it point to a deeper bug?

[2017-10-20 11:34] kimvk commented on #31
When I allow all lines to be extendable, load shedding disappears.
If I extend only the lines connected to the nodes with load shedding, load shedding is lowered, but most load shedding spots will remain.

Next step will be to extend the lines which are connected to the lines extended before until load shedding disappears. This will slower the computation time, because after each extension of the

[2017-10-23 07:46] mariusves opened #78 "Improve result export"
Currently, the function that allows the export of the simulation results to the database is very strict and static and doesn't work well when there are structural changes done to either the pypsa network components or the arguments that are saved in the table results_meta (see #62). Therefore, the export function has to be reworked to be more flexibel.

For the table result_meta I propose the foll

[2017-10-23 13:37] ulfmueller opened #79 "Check out the plotly liberay use within network.iplot() of the new release of PyPSA"
The new PyPSA version 0.11.0 has a pretty cool plotting function...
https://pypsa.org/examples/scigrid-lopf-then-pf-plotly.html

Might be a reason to upgrade to the newest PyPSA version.

@lukasoldi @BartelsJ @wolfbunke @MarlonSchlemminger

[2017-10-25 08:57] ulfmueller commented on #31
maybe we do not have to be that complicated. How does the solution look when you allowed all lines to be extended? Can we may be use this solution as the desired 'debugged' data solution?
Is there a huge grid expansion or only a slight one concerning only the effect of load shedding? Does the dispatch change dramatically or only slightly?
Maybe we can fix the generator dispatch of the load sheddin

[2017-10-25 12:54] mariusves commented on #79
Those are some fancy looking plots!

I just hope the changes in the PyPSA API don't break too much code in eTraGo...

[2017-10-25 12:58] mariusves commented on #61
With commit 52b9cd1873b5264d883ef7d74b71d3dc2f293e15 I implemented the use of the ego.io sessionmaker, which also allows to use the function, that creats the ego.io-config file.
The function `oedb_session` now returns two objects: `session` and `conn`. While the former is the already in use session-object, the latter will be later used to extract the username when exporting to the oedb, so results

[2017-10-26 09:08] mariusves commented on #61
I did some testing, and found the ego.io sessionmaker quite wonky.
When there is already 1 server stored in the config file, no further server can be added. Furthermore, passwords stored in the keyring can't be retrieved which means everytime you run the tool, you have to re-enter the password. I'm not sure if this is a specific windows related problem, since I don't have access to a linux compute

[2017-10-26 13:12] ulfmueller commented on #79
@mariusves Could you check out /test how much we would have to change in order to upgrade?

[2017-10-26 13:16] ulfmueller opened #81 "change parallelisation function for storage soc"
see row [10] in https://pypsa.org/examples/scigrid-lopf-then-pf.html and add this within https://github.com/openego/eTraGo/blob/dev/etrago/tools/utilities.py#L371-L381

[2017-10-26 13:38] mariusves commented on #79
I'm on it!

[2017-10-27 10:31] mariusves commented on #79
Just a quick feedback. There don't seem to be too many API changes.
Unfortunately, gurobi crashes for me doing the usual LOPF. Currently checking out why that happens...

On another note, what about the changes we commited to the PyPSA ego-fork ? If we plan to upgrade PyPSA these changes might get lost, thus we could first try to bump our fork to the newest version.
I'm testing out the first basic

[2017-10-27 10:35] mariusves commented on #81
Successfully implemented.

[2017-10-27 10:35] #81 closed

[2017-10-27 11:31] mariusves commented on #79
Kinda found the problem. Since PyPSA 0.9.0 when doing the LOPF, the solver lp file contains `nan`-values:
[code]

This had not been the case before. I'm now trying to find where those values come from (maybe from empty q_sets?)

[2017-10-27 11:36] ulfmueller commented on #79
mmh, well the lopf does not take p_set and especially no q_set. So that should not be the problem...
is that the upper bound? maybe a problem with inf values.
Can you provide a lp file? Or save the lp file an search for nan values. Then you might locate the problem...

[2017-10-27 12:11] mariusves commented on #79
the lp-file is fine until it reaches line 487746 where a lot of values become NaN:
[code]

I might have found the culprit. Using
`network.generators_t.p_max_pu[network.generators_t.p_max_pu == np.isnan(network.generators_t.p_max_pu)]`
shows that a lot of generators have NaN values for `p_max_pu`, some for all timesteps, some only for certain.

[2017-10-27 12:14] ulfmueller commented on #79
maybe the generators which do not get p_max_pu as a series (wind and solar) but as a constant (former p_max_pu_fixed)?!

[2017-10-28 14:30] kimvk commented on #31
I pushed the new code. I set all lines and transformers extendable and the capital cost to 1 million. The results of s_nom_opt for the lines and the transformers are saved in two csv fils, which can replace the old s_nom in a new calculation. If we calculate without loadshedding and with the data from the csv files the computation time is essentially faster.

[2017-10-30 15:57] mariusves commented on #78
The export function just received a major overhaul.
Important changes are:
- result_meta now stores all settings that can be changed by a user in the settings column as a json-string. Static information such as calculation date, snapshots etc. which are not likely to be renamed or changed in the future application development process have their own column.
- The column `user_name` in the table res

[2017-10-30 16:12] ulfmueller commented on #78
a few days ago @maltesc said these can be deleted. So it should be no problem to proceed.

[2017-11-01 11:30] maltesc commented on #78
@mariusves Where can I find the new code?

[2017-11-01 11:46] #53 closed

[2017-11-01 13:01] mariusves commented on #78
@maltesc Check out this branch: https://github.com/openego/eTraGo/tree/feature/improve-result-export
Also, make sure to get the latest dev of ego.io!
Changes will be merged to eTraGo dev later today probably...

[2017-11-01 15:30] mariusves commented on #79
Here is the lp-file with the `nan`-values (stating in line 63195,generator_p) :
[pypsa_11_error.txt](https://github.com/openego/eTraGo/files/1434631/pypsa_11_error.txt)

[2017-11-01 15:35] mariusves opened #84 "network.carriers (former source) table empty"
I noticed that after the components the table network.carriers (former sources) is empty.
I know that the source table is being used to "translate" from the source_ids to the actual source name, but during the import process the "official" PyPSA table remains empty.

Could you maybe take a look where in the import function this takes place and how it could be implemented so the table is filled aga

[2017-11-01 15:48] ulfmueller commented on #79
Which scenario/version did you take as input?
definitely generators with the ids 23022, 23482 and so on. It happens with 543 generators. Could those be all the flexible power plants with static p_max_pu?
May be you still have some minutes to check some of these generators and which input data they are missing?!

[2017-11-02 08:06] wolfbunke opened #85 "Error DB import Multiple rows were found for one()"
After updating eTraGo, egoio and pypsa fork I got following error:

[code]

Any idea @mariusves ?

[2017-11-02 11:38] ClaraBuettner commented on #85
Ulf found out that the problem is caused by multiple rows in the temp_resolution table. I added a filter on the version in  configure_timeindex in etrago.io and it worked. There is no entry for version v0.2.11 so I had to choose v0.2.10. Is it possible to add this? Then I could filter with the version numer which would be much better.

` def configure_timeindex(self):
        """
        """

[2017-11-02 12:52] s3pp commented on #85
Very nice! I agree, using self.version would be much better.

[2017-11-02 13:03] wolfbunke commented on #85
Thank you! Your filter works for most of the args settings. I add v0.2.11 to the grid.ego_pf_hv_temp_resolution table. Using self.version sounds great.

[2017-11-02 13:13] s3pp commented on #85
Would you be so kind to implement this fix? @ClaraBuettner  I guess, you can do it right on the dev branch.

[2017-11-02 13:40] ClaraBuettner commented on #85
I implemented it on the dev branch.

[2017-11-02 13:43] s3pp commented on #85
Thanks!

[2017-11-02 13:43] #85 closed

[2017-11-02 14:26] wolfbunke opened #86 "Kmean clustering error by different num_parallel"
The functionality  k_mean_clustering is not working if `num_parallel` isn't equal.

The function aggregatelines / aggregatelinegroup in pypsa/pypsa/networkclustering.py needs to be improved in order to handle this case.

see bug report:
[code]

[2017-11-02 14:44] wolfbunke commented on #86
ok, in connection with line_grouping it doesn't work. I will write it to the doc string.

[2017-11-02 14:55] #86 closed

[2017-11-02 15:26] ulfmueller commented on #79
@ClaraBuettner Can you post your progress here? Since you found a crucial code line which has to be changed. I cannot see that you pushed your efforts in the corresponding [branch](https://github.com/openego/eTraGo/tree/feature/upgrade-to-pypsa-11). Could you please push the changes you applied?

[2017-11-02 16:07] ClaraBuettner commented on #79
I will do that as soon as I can, right now I'm in the train and can't get online with my Laptop. And the mobile Version doesn't work very well...

[2017-11-02 19:17] ClaraBuettner commented on #79
I just changed the version number in the branch, so the colunms can be renamed.
But it still doesn't work for me. Since I've installed pypsa 0.11 the solver can not read the model, even if I downgrade to pypsa 0.8 again.
Does anybody has the same problem? I noticed that pyomo and scipy update when I installed pypsa 0.11, may that cause a problem?

[2017-11-03 12:31] ulfmueller commented on #78
For me it is not working. I get the following error (tried various settings taking model_draft or grids data etc. ):
[bug_eTraGo_results_to_oedb.txt](https://github.com/openego/eTraGo/files/1438705/bug_eTraGo_results_to_oedb.txt)
@maltesc You tested it and it worked, right? What settings did you use?
@mariusves Do you know what the problem could be?

[2017-11-03 12:53] ulfmueller commented on #60
@MarlonSchlemminger What is the status here?
Have you done a Pull Request to merge it to the dev?

[2017-11-03 12:58] ulfmueller commented on #77
That's right. I got the same problem. Good question. I will try out if it has to do with the inflexible weakness you pointed out.
@wolfbunke Can you come up with a more generic solution which also works for other non-SH scenarios such as our 'normal' scenarios?

[2017-11-03 13:15] MarlonSchlemminger commented on #60
I was not satisfied with my work as I was not able to implement the feature to manually set boundaries as I did for plot_line_loading and then got busy with the renpass stuff and forgot about this one. The status which is currently in the branch works but doesn't have the feature. I would suggest I don't pull yet and try to add manual boundaries first.

[2017-11-03 13:19] ulfmueller commented on #60
OK!

[2017-11-03 13:43] ulfmueller commented on #77
I checked it and the result is as I expected. This problem does not have to do with the conv types. So it seems to be another bug, hopefully not a deeper one. Can anyone look for the reasons? @wolfbunke @BartelsJ ?

[2017-11-03 16:38] ulfmueller commented on #78
Ok, my bad. somehow the ego.io on the server I was working was not installed via pip install -e. Sorry for posting the previous problem.

BUT now there really is a problem:
ProgrammingError: (psycopg2.ProgrammingError) permission denied for relation ego_grid_pf_hv_result_bus
@mariusves you are the owner of model_draft.ego_grid_pf_hv_result_bus . Since @mariusves is in Japan. Is there a superuser a

[2017-11-05 12:26] maltesc commented on #78
@ulfmueller, referring to your [comment](https://github.com/openego/eTraGo/issues/78#issuecomment-341690793), I only tested the old result export function. Regarding the new function, I only checked the database results created by @mariusves and they seemed to be alright.

Referring to your [comment](https://github.com/openego/eTraGo/issues/78#issuecomment-341758855): I get the same error - permis

[2017-11-06 09:03] ulfmueller commented on #78
thats weird. I (re-)checked the table and its owner is definitely @mariusves . And I am not working from remote. So the request to @MGlauer remains to set the grant to oeuser!

[2017-11-06 09:19] wolfbunke commented on #77
@BartelsJ  could you take a look to this problem?

[2017-11-06 09:20] wolfbunke commented on #77
Thank you @ulfmueller !

[2017-11-06 09:31] ClaraBuettner commented on #79
I just calculated a lopf with pypsa 0.11.
The problem was the upgrade from pandas 0.19.1 to 0.21, when I dowgraded pandas it worked fine.

[2017-11-06 10:03] ulfmueller commented on #79
Now, we should figure out what the problem is with the new pandas and what code we would have to adapt.

[2017-11-06 11:31] #65 closed

[2017-11-06 13:56] BartelsJ commented on #77
Sure, I'm on it

[2017-11-06 14:03] wolfbunke opened #87 "error by using glpk Solver"
accidentally I used the standard glpk and following error appeared. By using gurobi everthing works fine.
[code]

[2017-11-06 14:13] BartelsJ commented on #87
Maybe you can try to install the pyomo master branch version. See closed issue [#59](https://github.com/openego/eTraGo/issues/59).

[2017-11-06 14:18] wolfbunke commented on #87
ok, thank you!

[2017-11-06 14:36] s3pp commented on #84
That's kind of messy, but could work, I will have a look at it again though.

[2017-11-06 16:01] s3pp opened #89 "Improve docstrings on io.py in eTraGo/tools/io.py"
A lot of docstrings are not there.

[2017-11-06 16:01] s3pp commented on #89
Related to #84

[2017-11-06 16:04] MarlonSchlemminger commented on #60
Fixed it and merged into dev.

[2017-11-06 16:18] lukasoldi opened #90 "Can ext. storages replace load shedding?"
...they should in theory. But there are cases where this does not work and one receives infeasible results, esp. with the full model for DE.

@kimvk solved this for the extendable lines with this: https://github.com/openego/eTraGo/blob/c4e2cd2c273915b746e2ab02b7f3137e656e4e2c/etrago/appl.py#L111-L117

[2017-11-06 16:46] ulfmueller commented on #90
I tried out a similiar approach for the ext. storages today. But it did not help...

[2017-11-06 16:53] lukasoldi commented on #90
Could you share your preferences and what exactly you applied?

[2017-11-06 16:59] ulfmueller commented on #90
I tried it out very quickly on the server and with my limited hardware right now I cannot access it. But I will try straight from my mind:
[Here](https://github.com/openego/eTraGo/blob/dev/etrago/appl.py#L241) I added two lines like this:

network.storage_units.s_nom_min = 0
network.storage_units.s_nom_max = float ("+inf")

and then I calculated I think from 2305 to 2328 with storage extendable on

[2017-11-09 10:53] ulfmueller commented on #90
Again I forgot about one mechanism. A plausible reason would be that the time span is too short in order to be able to fill up the storage... The influence of the filling level is probably the reason.

[2017-11-09 11:06] ulfmueller commented on #78
Thx to @MGlauer the grant problem was solved. Now it is possible to use the function BUT I am experiencing troubles with the duration of writing the results to the oedb. Smaller datesets eg. 24h of Schleswig-Holstein I could upload but I have not succeeded so far in uploading just one hour of the entire model. The reasons could be

1.  the code @mariusves
e.g. Would it be possible to 'learn' from

[2017-11-09 13:30] ClaraBuettner commented on #79
The requirements for pypsa0.11 inculde pandas>= 0.19.0, so I tested etrago functions with pypsa 0.11 and pandas 0.20.3 (which is the newest working version).
Functions line_grouping, parallelisation, load_shaeeding and k_means_clustring work fine.
Network_clustrering seems to need the pypsa fork, I havn't updated for pypsa 0.11 yet, because I don't know how to do that.
When calculating with reprod

[2017-11-09 15:15] lukasoldi commented on #90
true...but lets keep the ticket open in order to keep that point up for validation.

[2017-11-10 08:54] ClaraBuettner commented on #79
I updated the fork and tried to test the network_clustering function. But it includes network.now which has been removed since pypsa 0.9.0.
After replacing it with network.snapshots network_clustering works fine.

[2017-11-10 15:39] ulfmueller opened #91 "create interface between etrago results and etrago"
once having stored results in the oedb it would be helpful to be able to import this data again into an pypsa network.
The work @maltesc did for eDisGo might be useful for this?!
@mariusves What do you think?

[2017-11-10 16:45] ulfmueller commented on #77
After @BartelsJ told me that the same problem occurs when applying clustering to the SH scenario I checked my simulations on SH a couple month ago. They were still fine concerning the k. After thinking about what had changed in the meantime I switched back to the old simple weighting using these [lines](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L399-L400) inste

[2017-11-12 10:38] #60 closed

[2017-11-13 07:33] wolfbunke commented on #77
@ulfmueller thanks for checking the methods. I will take a look into it and try to find the buggy part.

[2017-11-13 15:17] maltesc commented on #91
@ulfmueller, the basic functionality is identical: the code reads data from the database into a python/pandas data structure.

Whereas the syntax of the specs code ([specs.py](https://github.com/openego/eGo/blob/features/specs/ego/tools/specs.py)) might serve as an example, the explicitly queried data is completely different.

[2017-11-14 12:25] wolfbunke commented on #77
After checking the kmean in  0cbaa1b by using the `SH Status Quo` data from v02.11 with ` 'start_snapshot': 1`, ` 'end_snapshot' : 24` as well as from time step 2000 to 2020.
I found the problem by many equal (zero) values in generation and different numbers of load and generator buses. This data set has original 91 buses of which 14 has a p_nom value over zero and 21 load buses with values.

At t

[2017-11-14 14:17] BartelsJ commented on #77
Thank you Wolf for this check. As far as I understand there is one bus representing a certain amount of buses with equal values which leads to a minor number of buses of course. Therefore a random noise vanishes this bug? Did I get that right?
And how did you regard wind and solar in your last statement? Turning out from the second time range 2000 - 2020?

[2017-11-14 15:53] wolfbunke commented on #77
Yes and no, there are without clustering 91 buses but only 14/15 has different p_nom generation values and 21 have load values. The rest of it is zero or with 'load shedding' has equal p_nom values.

By using the list [non_conv_types](https://github.com/openego/eTraGo/commit/0cbaa1b08ffb45ab81ecad8378e1fc6835d282e5#diff-77f0fefb715537b2afa929ec210c2118R331) we define the carriers which should be c

[2017-11-14 17:16] ulfmueller commented on #77
sorry, I would like to help but I do not understand you. Maybe we can talk about your findings tomorrow in vivo?!

[2017-11-15 08:55] wolfbunke commented on #77
Did you used `network_clustering': True` in your args setting? @BartelsJ  @ulfmueller

[2017-11-15 09:23] ulfmueller commented on #77
of course not. why?

[2017-11-15 12:15] wolfbunke commented on #77
The problem caused be the weighting factor which is fix in #93 now. An more generic solution is needed.

[2017-11-15 15:33] ulfmueller opened #95 "Versioning of eTraGo results in oedb"
Right now we can store results in the model_draft. But once a new dp run is released the entire data will be lost. Therefore it would be good to find a solution for saving results also to a versioned schema 'grid' or 'scenario'.

2 possible options (in my mind):
- the meta table of the model_draft gets an additional argument, which states which datasets should be safed. Due to this column a script

[2017-11-15 15:42] mariusves commented on #95
I think both options can be added, whereas the first can be implemented quite quickly. I'd propose to implement this check and the copy function to this file dataprocessing/sql_snippets/ego_dp_powerflow_hv_setup.sql .

For the second option, I will have to adjust the export function a tiny bit, nothing major though. Since I need to duplicate the table definitions for the first option in ego.io any

[2017-11-15 15:48] ulfmueller commented on #95
But if we do both options, we can get a result_id problem if we would add result data sets from two sides, right?

[2017-11-15 15:49] ulfmueller commented on #95
maybe we just stick with the first solution. The place in the dp you suggest I think is good!
p.s.: welcome back!

[2017-11-15 16:43] mariusves commented on #49
Reminder to self:
When the new sessionmaker is implemented use this to get the username:
`username = str(conn.url).split('//')[1].split(':')[0]`

[2017-11-16 12:11] nesnoj opened #96 "missing branches in grid model"
Not sure if this is the right repo, but:
I found some 110kV-lines which obviously exist but are not included in the table `grid.otg_ehvhv_branch_data` near "UW Jessen Nord" (bus_i = 28061 in table `grid.otg_ehvhv_bus_data`). They should be connected to branch 21026..

![osmtgmod_bug1](https://user-images.githubusercontent.com/15910173/32890426-00500068-cacf-11e7-92a7-733d24473963.png)

This might

[2017-11-16 14:17] nesnoj commented on #96
Oh, this EHV/HV substation was [installed in 2016](http://www.50hertz.com/de/Netzausbau/Leitungen-an-Land/Netzanschluss-Jessen-Nord/Meldungen), probably it wasn't included in the OSM data used by osmTGmod?!

[2017-11-16 14:48] ulfmueller commented on #78
concerning my last post. The main problem was that the server on which I was simulating was highly over loaded. I am not sure if the speed can still be problematical and optimized but it is definitely a lot less dramatic than I thought.

[2017-11-16 14:51] lukasoldi commented on #96
Probably. our osm data is still dated 2016-10-01...

[2017-11-16 14:56] mariusves commented on #78
That's good to hear. I haven't experienced much of a difference between output from and input to the database. It surely also depends on the available connection, even though that should be not an issue on the uni network.

Regarding optimization I'm not so sure if there is a better way. As of now, all data is bundled for each ormclass (BusResult, LineResult, ...) and then each package is uploaded

[2017-11-16 14:58] nesnoj commented on #96
Ok.
Is an OSM update already scheduled? @Ludee

[2017-11-16 14:59] ulfmueller commented on #78
yeah. that would be good - to see how much time would it take if we take the data of an entire year for whole Germany...

[2017-11-16 15:39] Ludee commented on #96
Planed but not scheduled!
How important/ urgent is it?

I can help organising but @gnn will have to execute it in Magdeburg.

[2017-11-16 15:46] nesnoj commented on #96
It is not very urgent but it'd be great to have recent data by the end of this year..

[2017-11-16 15:49] mariusves commented on #78
8760 hours won't be working on my PC I think. 16 GB RAM is simply not enough for that.
I would try to measure sets of 24, 48, 96 hours and try to interpolate.

[2017-11-17 10:01] lukasoldi commented on #87
resolved? @wolfbunke

[2017-11-17 13:58] lukasoldi commented on #33
I could now reproduce the error above on the openego server in a virtual environment. did any of you encounter something similar?
@s3pp do you have any idea what could be the issue here?

[2017-11-17 14:31] nesnoj commented on #96
ok, I close this one and get back to you later..

[2017-11-17 14:36] nesnoj opened #97 "missing branches in grid model II"
(As reported to @IlkaCu via phone)
Some lines at a 380/110kV station (yellow circle) are missing, the 110kV buses (right) are not connected to the station:
![usw](https://user-images.githubusercontent.com/15910173/32952100-763c4eac-cbac-11e7-9e61-486a11f8b71e.png)

Status Quo
v0.2.11
ego_pf_hv_bus.bus_id = 24051

[2017-11-17 14:40] IlkaCu commented on #97
![grafik](https://user-images.githubusercontent.com/16799094/32952374-62d6d08e-cbad-11e7-959f-65650290b233.png)
The buses on the right are not inside the substation polygon - so not connected to the substation.

[2017-11-17 14:55] mariusves commented on #78
Here are the results (for SH Status Quo only):

Timesteps | import | export
-- | -- | --
24 | 1.45029688 | 22.3353858
48 | 1.20912957 | 22.6540043
96 | 1.85700417 | 22.2265174
192 | 1.7601018 | 25.5727012
384 | 2.5277884 | 31.8507159
768 | 3.332211256 | 41.0686254
1536 | 5.91209053 | 67.9167547

Time is in seconds. Clearly, the export to the DB takes 10-15 times longer than the import. And I don't

[2017-11-20 08:32] wolfbunke commented on #87
yes

[2017-11-20 08:32] #87 closed

[2017-11-20 09:59] IlkaCu commented on #95
I would propose to save scripts for adding the result data to our versioned schemas separated from the DP scripts, because the result data are no direct outcome of the DP but the powerflow calculations. We could for example save it in the utilities folder and run it every time its needed.

[2017-11-20 10:15] ulfmueller commented on #95
sounds good. And the setup of the results tables which happens [in this dp branch](https://github.com/openego/data_processing/blob/features/add-pf-result2db/dataprocessing/sql_snippets/ego_dp_powerflow_hv_setup.sql#L1152-L1154) would move to the preprocessing or also to the utilities! Otherwise the tables would be deleted when a new dp run is executed.

[2017-11-20 10:27] ulfmueller commented on #95
And we have to clarify in which versioned schema should the results go! I guess 'scenario' or 'grid'. The definition (here)[https://wiki.openmod-initiative.org/wiki/Database_schema] is not clear on that. @Ludee @MGlauer @IlkaCu In which schema would you put modelling results in the oedb?

[2017-11-20 10:56] ulfmueller commented on #97
Thanks for pointing at that individual bug. Such cases can always occur due to the very flexible osm data logic and heuristics which cannot capture every single exception. We could e.g. widen the buffer around the substation polygons but that would again come along with other problems. The best thing would be probably to check out how the cables are tagged inside of the substation and change the d

[2017-11-20 11:07] ulfmueller commented on #97
for the debugging, we are talking about ['Umspannwerk Marke'](http://www.openstreetmap.org/way/25526912#map=17/51.74108/12.26223&layers=D)
@ClaraBuettner if you find some time, can you check out the reason for this problem? Or @lukasol do you have a quick idea why this happens?
Some of the lines going into the station do not have a voltage tag which is a fundamental problem and which could be chan

[2017-11-20 11:08] MGlauer commented on #95
For starters you might consider putting it in the model_draft. This schema is for datasets that are still under development and thus not fit for the slow-paced versioning protocol. Are your results in a state where you can call them consolidated?

[2017-11-20 12:35] ulfmueller commented on #95
we have them already in the model_draft. Now we want to establish a workflow to be able to store them also stably and permanently in a versioned schema (e.g. for referencing in a paper). The question is: which schema should we choose?

[2017-11-20 13:51] ClaraBuettner commented on #97
I just checked the tags in osm, bus I couldn't find the reason. One not-connected line is in the polygon, but I can't see the difference to the others or why it's not connected to the substation.

[2017-11-20 13:55] Ludee commented on #95
Since all data is "modelling results" (except raw measurement data), the suitable schema would definitely be **grid**.
Can you adapt the eGoDP versioning methods with a versioning table that got appended!?

The **scenario** schema is indeed not defined precisely. We will work on that ;)

[2017-11-20 14:11] ulfmueller commented on #95
Thx for the feedback.
@mariusves We take grid then :smile:
@IlkaCu said (and I can agree to that) that the versioning of results which come from an application like 'eTraGo' are not really part of the data processing. Therefore we would put this into the utilities folder. This would have the advantage that we do not depend on an entire dp run since we would execute it when needed....
Any doubts or

[2017-11-20 14:54] ulfmueller commented on #78
Well, clearly the export data set is bigger than the import one. Could you check if the relative differences correlate with the relative differences of data sizes of the inputs and output data sets?
Fro 24 hours the export is 14 times slower.
For 1536 hours the export is 10 times slower.
Well the import data is part of the export data plus the results for the components (branches, buses,...). So t

[2017-11-20 16:42] lukasoldi commented on #97
hmm, i don't really know the reason. if i'm not mistaken the default buffer to capture loose ends is roughly 300 m, see: https://github.com/openego/osmTGmod/blob/master/sql-scripts/functions.sql#L1187

but my feeling would also be that this is some kind of an osm issue...

[2017-11-21 15:22] wolfbunke opened #98 "readthedoc missing sphinx docstring"
The readthedocs  doesn't compile the sphinx docstring at the API description:
http://etrago.readthedocs.io/en/dev/api/etrago.html

check:
- conf.py
- doc/api/
- readthedocs settings
- ...

[2017-11-23 13:45] ulfmueller opened #100 "New release including upgrade to pypsa 0.11"
@ClaraBuettner was able to run eTraGo with pypsa 0.11. within this [branch](https://github.com/openego/eTraGo/tree/feature/upgrade-to-pypsa-11).
After intensively thinking and talking about the best procedure to change eTraGo to use the new PyPSA version, I suggest the following:

- [x] merging the branch into dev via the PR #94 @ulfmueller
- [x] cherry-picking the pypsa 0.11 specific commits into

[2017-11-23 14:01] ulfmueller opened #101 "Getting rid of PyPSA fork"
The dependency links to a forked repository are suboptimal. Therefore it should be checked if we can PR our changes into the mother repository and be able to use the original PyPSA.
The changes in our [dev](https://github.com/openego/PyPSA/tree/dev) and our [snapshot clustering branch](https://github.com/openego/PyPSA/tree/features/snapshot_clustering) have to be considered.

The change in the sna

[2017-11-23 14:06] ulfmueller commented on #101
or do you disagree @BartelsJ @wolfbunke @lukasoldi ? should we just keep the fork and not bother about this stuff?
The advantage would be that concerning eGo eTraGo and eDisGo would be integrated a bit more straight foreword. Moreover we would have less problems with installation and documentation - since these fork dependencies are rather not wanted and therefore can cause problems....

[2017-11-23 14:20] lukasoldi commented on #101
I would definitely welcome an integration into the main version and make it more straightforward. But, I think we should see what @s3pp says about the issues concerning networkclustering.
Generally, you should consider the workload for the re-integration. I remember that we decided for the fork also with the argument that we can do our own stuff independently...

[2017-11-23 14:22] lukasoldi commented on #100
I like the idea and am curious on how the new version will perform ;-)

[2017-11-23 15:29] wolfbunke commented on #101
I am fine with a switch to the original PyPSA. But I am not sure about the workload of the re-integration as well.

[2017-11-23 17:41] s3pp commented on #101
![20171123_pypsaforkdiff](https://user-images.githubusercontent.com/10025949/33183776-87b1f2fa-d079-11e7-91f6-098f85553dce.png)

There are only a few changes between dev and master branch, but even so I'm sure, that these changes cannot be merged back in the official PyPSA repository, because grouping on max_hours if available in aggregateoneport is a very specific change. Nevertheless, due to the

[2017-11-23 18:27] ulfmueller opened #102 "Deleting pycache and src folder / Please add to your .gitignore"
In the [snapshot clustering branch](https://github.com/openego/eTraGo/tree/features/snapshot_clustering) there are some files/folders which should not be there.

@BartelsJ Could you please delete
- https://github.com/openego/eTraGo/tree/features/snapshot_clustering/etrago/extras/__pycache__
- https://github.com/openego/eTraGo/tree/features/snapshot_clustering/src
?

[2017-11-23 18:30] ulfmueller commented on #102
see also here: https://stackoverflow.com/questions/46428889/keeping-pycache-out-of-my-repository-when-adding-committing-from-pythonany

[2017-11-24 07:45] ulfmueller commented on #100
fyi: I won't start with the upgrading procedure today and postpone it to the beginning of next week.

[2017-11-24 09:16] MarlonSchlemminger opened #103 "Arrows on line loading plot"
Since September, plot_line_loading has the option to get arrows indicating the direction of the electricity flow for each line. I found three possible ways to do this in matplotlib:
1. Annotate: This is how it is implemented currently in the dev branch (https://github.com/openego/eTraGo/blob/dev/etrago/tools/plot.py#L97-L116). Each line gets an annotation of a small arrow. The downside is that it

[2017-11-24 09:56] lukasoldi commented on #33
This is the error message (in short) that I receive when doing the NEP 2035 scenario for DE and applying networkclustering. As discussed with @BartelsJ, this looks like something data related and there's hope that we can resolve this with version 0.3 of data processing next week...?!

~/lukas_ego/lib/python3.5/site-packages/sqlalchemy/engine/base.py in _execute_context(self, dialect, constructor,

[2017-11-24 12:36] lukasoldi commented on #33
I found some generators with source = null and replaced them with 0 but without a positive result on the error posted above.

[2017-11-27 17:11] wolfbunke commented on #98
The doc strings of appl.py is now working by removing the "internal" packages import to main / executable function see: a7fba71 . This change only works for appl.py as an executable terminal program.

At the moment those packages are not displayed on rtd due to import / installation issues of packages  with readthedocs :

- etrago.cluster.networkclustering
- etrago.tools.plot
- etrago.tools.snapsh

[2017-11-27 18:04] mariusves commented on #78
I did some more research on the memory sizes during the calculations using `psutil` and SH Status Quo:

timesteps | after import (MB) | after calculations (MB) | multiplicator
--- | --- | --- | ---
24 | 222.82 | 444.117 | 1.993
48 | 286.281 | 665.391 | 2.324
96 | 306.926 | 1104.34 | 3.598
192 | 1113.89 | 1954.21 | 1.754
384 | 1982.5 | 3737.84 | 1.885
768 | 3774.37 | 7199.32 | 1.907

Apart from som

[2017-11-28 08:36] ulfmueller commented on #78
Thx @mariusves for that evaluation!
I would guess that the exporter should therefore take about twice as long as the importer (instead of 10 - 15 times)!
@MGlauer Any ideas to speed up the [code of the export function](https://github.com/openego/eTraGo/blob/dev/etrago/tools/io.py#L346-L523) ?
In contrast, the [class for the import](https://github.com/openego/eTraGo/blob/dev/etrago/tools/io.py#L89)

[2017-11-28 08:55] wolfbunke commented on #98
A further testing of a package import in` __init __ ` was unfortunately not successful. Maybe with the change from the pypsa fork to the origin pypsa package this problem can be solved. An other quick and dirty solution could be a doc-branch without the import of the pypsa fork and his relations. The documentation would be displayed but this branch wouldn’t work. @ulfmueller @s3pp .

[2017-11-28 09:19] MGlauer commented on #78
@ulfmueller I have several questions here: Is there any reason, for that many `session.commit()`? You can describe it as a [“holding zone”](http://docs.sqlalchemy.org/en/latest/orm/session_basics.html#what-does-the-session-do) for your database interactions. It can contain several interactions. `commit()` writes all of these queries to the database. Thus, it should be called if and only if you are

[2017-11-28 10:24] ulfmueller commented on #78
Thanks @MGlauer for that hint! Your reasoning makes sense!! @mariusves maybe you can adjust the code?
It will be an improvement but I think it will not speed up the imports, don't you think @MGlauer? If you have any other advices, I would be keen to know about them.

[2017-11-28 10:27] wolfbunke opened #104 "Integrating /features/lines_optimization"
Test and integrate the functions of branch `/features/lines_optimization` to new pypsa 11 version in branch `feature/line-expansion-p11`

- [x] integrate functions and make it executable @wolfbunke
- [ ] test results @wolfbunke
- [x] remove cost parameters to oedb tables @ClaraBuettner
- [ ] implement calculations from appl.py as functions  @wolfbunke

[2017-11-28 13:42] mariusves commented on #78
Thanks for the feedback!
For testing purposes I implemented the changes you suggested and did some more benchmarks:

steps | mem_import | mem_calc | t_import | t_calc | t_upload
--- | --- | --- | --- | --- | ---
24 | 222.754 | 447.844 | 0.0261336 | 0.289941 | 0.273799
48 | 452.422 | 665.918 | 0.0236977 | 0.602367 | 0.291083
96 | 674.008 | 1106.35 | 0.0283855 | 1.23991 | 0.305829
192 | 1121.16 | 19

[2017-11-28 15:39] wolfbunke commented on #104
The functions and scripts are integrated in the pypsa 0.11 environment of `feature/line-expansion-p11` based on the MA work the new functions are removed to the folder tools.
The two files:
- line_opti_appl.py -> line_optimization(Masterthesis Dokumentation).py
- line_opti_appl_gekuerzt.py -> line_optimization(gekuerzt).py

are added to the branch and are now executable with pypsa 0.11. see:  389d

[2017-11-29 14:51] ulfmueller commented on #102
@kimvk After 98b95cec20999b9c16eac1b467f95f1336221e00 Are you now able to use the snapshot clustering branch?

[2017-11-29 14:51] wolfbunke commented on #100
I was testing the pypsa 0.11 branch with eGo and also used it in Branch [ feature/line-expansion-p11](https://github.com/openego/eTraGo/tree/feature/line-expansion-p11) which works fine. Please make sure that etrago is not executable by it self with ` network = etrago(args)` at the end of the script. Thanks a lot!

[2017-11-29 14:57] ulfmueller commented on #100
Because of the read-the-docs?

[2017-11-29 15:00] kimvk commented on #102
The former error is gone, but there is a new error, I have unmerged files in the branch. They want me to merge

[2017-11-29 15:17] kimvk commented on #102
Okay I fixed it, now I can use the branch snapshot_clustering. The same problem occurs in the branch snapshot_clustering_goes_app. @BartelsJ could you delete the same files there too?

[2017-11-29 15:19] wolfbunke commented on #100
Yes for read-the-docs but manly for the etrago import into eGo with `from etrago.appl import etrago`

[2017-11-29 16:14] wolfbunke commented on #98
changing the dependency_links of setup.py from ssh to https was unsuccessful

[2017-11-29 17:04] ulfmueller commented on #62
Is this solved by now?

[2017-11-29 17:13] ulfmueller opened #106 "Add aggregation of one ports within k means clustering"
The k means function we are using is not aggregating the one ports like e.g. generators.
PyPSA has two functions for that: aggregategenerators and aggregateoneports.
The [cluster_on_extra_high_voltage](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L48) uses them [here](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L90-L105).

Someth

[2017-11-30 08:07] BartelsJ commented on #102
Sure, done with [5f73e4d](https://github.com/openego/eTraGo/commit/5f73e4dce0b29c5b354fae6b5fd1715c3d8af952).

[2017-11-30 10:02] BartelsJ commented on #106
That is a good point and I did not check the number of generators with the kmeans clustering yet. But ain't the aggregation of those one ports is done [here](https://github.com/PyPSA/PyPSA/blob/master/pypsa/networkclustering.py#L225-L239)?

[2017-11-30 10:15] IlkaCu commented on #95
During our last conference call we decided to put the versioning scripts into the eTraGo repository. The scripts which create the results tables stay in the dataprocessing.
Additionally we favour to use sqlalchemy for the versioning.

[2017-11-30 10:15] ulfmueller commented on #106
Yes exactly - but they have to be called/used which they are not. In our ehv network clustering it happens but not in our k means clustering.

[2017-11-30 11:17] ulfmueller opened #107 "Implement snapshot clustering suitable for seasonal storages"
See this [paper](https://arxiv.org/pdf/1710.07593.pdf)
@simnh read it already and said he might be able and/or willing to implement it...

At the DLR Jorge is writing a mater thesis about clustering methods. Maybe we can create a joint venture there. (@BartelsJ )

Anyhow here we can discuss the whereabouts of this 'project'. It sounds definitely very promising...

fyi: @lukasoldi

[2017-12-04 12:57] ulfmueller commented on #106
@BartelsJ Any news, if and when Jorge could tackle this?

[2017-12-04 13:38] ulfmueller commented on #100
@ClaraBuettner Could you please proceed with the cherry picking?! and check the box once your done.... Thank you in advance!!

[2017-12-04 14:08] ClaraBuettner commented on #100
I started cherry-picking, but in some branches, it causes problems because they don't have the same structure like the dev-branch. So I was not able to update: lines_optimisation, load-shedding-analysis, marginal_cost_noise. All of them do not have the folder etrago/tools including the io.py.
Up to now I havn't updated the sorage-paper-branch, beause I'm not sure if I should do this.

[2017-12-04 15:07] wolfbunke commented on #100
The mayor features of branch` lines_optimisation` are implemented in` line-expansion-p11`.  An update by  cherry picking is not needed for this branch.  The branches ` load-shedding-analysis` and `marginal_cost_noise` looks like early works of etrago and I am not sure if those branches are still relevant? @ulfmueller

[2017-12-05 09:54] ulfmueller commented on #100
These branches are still somewhat relevant. @ClaraBuettner could you try to update these branches by pulling all changes from dev?

[2017-12-05 10:53] ClaraBuettner commented on #100
I just tried to do this, but there are merge confilcts in the appl.py and I don't know wihich changes the branches need. And the old branches have files which were deleted, and I'm not sure what to do with them. Maybe we can do this together on thursday?

[2017-12-05 10:56] ulfmueller commented on #100
yes. I expected s.th. like this :wink:
Or may be we just leave the old branches and change the setup so that there is a dependency link to the commit on pypsa dev before the switch to 0.11....

[2017-12-05 11:44] BartelsJ commented on #106
Jorge is quite busy at the moment, but I adapt it in [906c295](https://github.com/openego/eTraGo/commit/906c2959a000c4ad7d6f9c3c61369abc75d1862f) in the KMEANS#77 branch.

[2017-12-05 12:26] ulfmueller commented on #106
Wow that it was that simple I did not see coming. Thx a lot! Didnt know that it was already an existing attribute!! Have you tried it out yet? I will do so soon :+1:

[2017-12-05 13:45] BartelsJ commented on #106
Same for me - a lot of trials for small changes in the end ;-)
Yes, I tried it for SH and the generators.csv was reduced like the buses.csv. Besides, the sum of p_nom as well as the sum of the product marginal_cost times appropriate weight in the clustered grid equals the values/sums of the original grid.

[2017-12-05 15:33] ulfmueller commented on #106
I tried it out. I think now we have gone a bit too far. There is just one generator per bus. In the ehv network clustering we group over buses and carriers in order to consider different marginal costs in the optimization problem. But it is weird. The aggregategenerator function which is called should group like that because we changed it in the context of the ehv network clustering...

[2017-12-06 12:24] wolfbunke commented on #98
By adding the import condition

[code]
The import / Readthedocs problems are solved.

[2017-12-06 12:25] wolfbunke commented on #98
see: 3847ab4

[2017-12-06 16:01] wolfbunke opened #109 "update wiki How-to-release article"
Based on oemof and own experiences I started to document a How to Release article for eTraGo.
You find the Documentation here:
https://github.com/openego/eTraGo/wiki/How-to-release

Please add your own experiences and how to does to the Wiki.

[2017-12-07 08:32] #98 closed

[2017-12-07 08:34] wolfbunke commented on #56
This issue is connected with #98 and solved.

[2017-12-07 08:34] #56 closed

[2017-12-07 10:12] BartelsJ commented on #103
Thank you for pushing this.
I am not sure whether I understand this collection approach you tried, but I was thinking about the possibility to use interactive plots with the plotly package therefore as a compromise. So basically using a (fast) line plot, but also have the possibility to generate arrows by clicking on lines or something similar?

[2017-12-07 12:33] ulfmueller commented on #78
@mariusves Is there still some development going on here: https://github.com/openego/eTraGo/tree/feature/improve-result-export ? I think everything was merged into dev, right? If so, please delete the branch. If someone improves it e.g. the speed issue, we can open up a new branch...

[2017-12-07 13:01] ClaraBuettner opened #111 "Make it possible to merge network_variances into dev"
The branch network_variances includes links, so a few steps have to be done before merging:
- [ ] branch is ready to be merged
- [ ] add link-tables to model_draft and grid-schema (e.g. model_draft.ego_grid_pf_hv_link), this is also needed for the new electrical-neighbours script, so this can be done at once
- [ ] add entso-e input-tables to oedb
- [ ] add the updated electrical-neighbours script

[2017-12-07 14:28] BartelsJ opened #113 "Disaggregation of k-means clustering results"
The results of simulations on the basis of the k-means cluster approach have to be disaggregated to the original grid. This ticket is created to work on this.

[2017-12-07 14:34] ulfmueller commented on #113
@MGlauer I saw you pushed something in a new feature branch! Nice can you say a few words about it? How can I test it?

[2017-12-07 15:02] ulfmueller commented on #113
@MGlauer There are two disaggregation branches:

https://github.com/openego/eTraGo/tree/features/disaggregation
and
https://github.com/openego/eTraGo/tree/feature/disagg

How are they different? Is one obsolete?

[2017-12-07 15:17] IlkaCu commented on #111
To add link tables to the model_draft you can adjust the script [ego_dp_powerflow_hv_setup.sql](https://github.com/openego/data_processing/blob/release/v0.3/dataprocessing/sql_snippets/ego_dp_powerflow_hv_setup.sql). To include them in the grids schema you have to add them in the [ego_dp_structure_setup.sql.](https://github.com/openego/data_processing/blob/release/v0.3/preprocessing/sql_snippets/e

[2017-12-07 16:09] ulfmueller commented on #91
@mariusves Have you started this?
@maltesc is also interested in this functionality :wink:

[2017-12-07 16:12] ulfmueller commented on #13
@kimvk I assume I can delete this [branch](https://github.com/openego/eTraGo/tree/features/snapshot_clustering_goes_app) because you created a new one?

[2017-12-07 16:59] ulfmueller commented on #100
fyi: tomorrow morning there will be the release...

[2017-12-08 08:26] ulfmueller commented on #13
@kimvk The structure of your integration looks quite final. Does it work already?
One remark: I would shift the functions from [snapshot_cl.py](https://github.com/openego/eTraGo/blob/features/snapshot_clustering_app/etrago/cluster/snapshot_cl.py) to the ['original' file](https://github.com/openego/eTraGo/blob/features/snapshot_clustering_app/etrago/cluster/snapshot.py)

[2017-12-08 09:16] mariusves commented on #91
Working on it but no ETA yet ;-)

[2017-12-08 09:51] kimvk commented on #13
Yes you can delete the Branch Features/snapshot_clustering_goes_app. I will shift the functions in the Original file, thought about that too.
The plots and to store the results as csv does not work very well. It is hard to evaluate the results.

[2017-12-08 10:43] ulfmueller commented on #100
The release is (almost) done :tada:. What is missing is the release via PyPI. @lukasoldi How did you do that the last two times? with the help of @gplssm ?
If so, I think it would be more sustainable if someone of the eTraGo team is able to do that as well... I think I already have an account and I would work on getting that competence on monday :wink:

[2017-12-08 16:11] lukasoldi commented on #100
Nice! I did it with the help of Berlin, yes...and since this is an issue after each release I also think that we should have an eTraGo-pypi-guy

[2017-12-11 11:44] mariusves commented on #78
I'm going to use the branch to implement the sqlalchemy script that transfers the results from model_draft to grid schema.

[2017-12-11 14:13] MarlonSchlemminger commented on #103
The collection approach was just a general idea. To plot large amounts of lines, you wrap them into a LineCollection which is a lot faster at plotting than plotting them line by line. Similar to a LineCollection, I wanted to create something like an AnnotateCollection (although exactly this does not exist) to plot the arrows faster.
Sure, if we use plotly instead of matplotlib in the future we wou

[2017-12-11 14:17] ulfmueller commented on #103
Since we upgraded to pypsa 0.11.0 we can use plotly as one likes!

[2017-12-11 18:12] ulfmueller commented on #100
I dealt with that PyPI release. Since there is some restructuring going on in the PyPI world it was a bit more tricky than expected (see also: https://mail.python.org/pipermail/distutils-sig/2017-June/030766.html). In the end I committed the mistake to delete the project in order to re-upload the version to PyPI which apparently is not possible (see e.g. https://github.com/pypa/packaging-problems/

[2017-12-11 18:17] ulfmueller commented on #100
If nobody disagrees I will close this issue without publishing on PyPI.
For the next release I created a milestone, which you can use for existing and upcoming issues.

[2017-12-12 10:45] gplssm commented on #100
I published a release of Ding0 on the 1st of September. I remember something changed with PyPi. Anyways, somehow I made. Sadly, I cannot remember it in detail. At least I can tell that I used the following cofiguration in the `.pypirc`
[code]

[2017-12-12 12:58] ulfmueller commented on #100
apparently now it is not possible anymore to do it with that https. Now you have to enter this address:     repository:https://upload.pypi.org/legacy/
or even better upgrade twine/setuptools and leave out the https in total.
During this learning process I thought deleting that half-published version would be a good idea which it wasnt since deleted versions cannot be uploaded again...
thats how I

[2017-12-14 15:49] ulfmueller commented on #106
I spent my time today on this issue and I found a solution. Apparently the Kmean#77 branch is causing some problems due to the restructuring of the weighting which I did not solve. Now I just added the changes from @BartelsJ to the dev (see 63023ca80b73b276291e5e3e230d7594d00d4db0 )- in order to work with the kmeans normally. It behaves very well.
Moreover I pushed a minor bugfix in our PyPSA dev

[2017-12-15 08:27] BartelsJ commented on #106
Great, thank you Ulf. I just tried it and it also works fine for me. I think this issue can be closed.

[2017-12-15 08:37] BartelsJ commented on #33
I am still a bit confused about this issue. However, the SH scenarios are not running at my system at the moment (see below) - working on the dev branch with an actual pull. Maybe anyone is familiar with such a message?

Traceback (most recent call last):

  File "<ipython-input-5-a894517d1f07>", line 1, in <module>
    runfile('/home/jbartels/projekte/open-ego/eTraGo/etrago/appl.py', wdir='/home/

[2017-12-15 09:20] ulfmueller commented on #106
I would leave it open because I just noticed that the generators a aggregated fine but the oneports are still not. I am on it, I will try to fix that today.

[2017-12-18 18:31] lukasoldi commented on #33
Networkclustering seems to work fine with the latest updates of PyPSA. Pull dev branch and have fun.

[2017-12-18 18:31] #33 closed

[2017-12-21 14:56] #84 closed

[2017-12-22 11:30] #100 closed

[2017-12-22 11:33] ulfmueller commented on #91
@mariusves was not able to implmement this function. We need someone else who can take over this job. Anyone interested?

[2018-01-09 14:59] ulfmueller commented on #113
I talked to @MGlauer The disagg branch is the relevant one. I tried out but I got the following error:

[disagg error.txt](https://github.com/openego/eTraGo/files/1615506/disagg.error.txt)

Do you know this one @MGlauer ? Any hints?

[2018-01-12 17:56] ulfmueller commented on #113
Tried it out with glpk - but unfortunately did not work either. Same error message. I would be grateful for hints!

[2018-01-13 13:06] ulfmueller commented on #106
https://github.com/openego/PyPSA/commit/75b81175576e7b3472a6fc95c8842dd42d16954c#diff-69c8b0283acf5fbfd2b4d4d71dd7caee

https://github.com/openego/PyPSA/commit/64582875e789086bbc5e1a96a722eefeb4ebea43#diff-69c8b0283acf5fbfd2b4d4d71dd7caee

https://github.com/openego/PyPSA/commit/d4fa9e8f174ecb425e1e67a964285f96f5bc6d71#diff-69c8b0283acf5fbfd2b4d4d71dd7caee

https://github.com/openego/PyPSA/commit/

[2018-01-13 13:06] #106 closed

[2018-01-18 11:14] ulfmueller commented on #113
@MGlauer / @gnn
Is there any reason why [here](https://github.com/openego/eTraGo/blob/feature/disagg/etrago/cluster/disaggregation.py#L98) and [there](https://github.com/openego/eTraGo/blob/feature/disagg/etrago/cluster/disaggregation.py#L107) you use the attribute 'bus0_s'? I changed it to 'bus0' and it 'worked'. At least the disaggregation was performed.

The performed disaggregation evoked some

[2018-01-22 16:32] ulfmueller commented on #107
@kimvk will have a look at it (but probably not implement it in a very near future)

[2018-01-29 14:19] MGlauer opened #122 "Set demand/supply on clustered nodes to line values"
Connections of clustered buses to other clusters are disregarded during disaggregation. Thus *will* happen that the disaggregated cluster tries to satisfy all external clusters.

Proposed solution:
Limit demand/supply by flow values of connecting lines.

[2018-01-29 14:30] MGlauer opened #123 "Revisit handling of cross-cluster connections"
Consider a network:

with following clustering

`{A,B} -- {X,Y}`

Disaggregating the cluster {A,B} using the current approach would add a connection to the external cluster {X,Y} for lines `A -- X` and `B -- Y` but replace all nodes in {X,Y} by its cluster, i.e.:

This might lead to some errors. We should have a more thorough look at it later.

[2018-01-31 19:59] gnn commented on #78
Hi there. I'm the one taking over the task of improving the export function. I already made some improvements but it's hard for me to get reliable measurements when using the server side database, as network and server load may skew the numbers. That's why I have a question @mariusves: could you tell me how to set up the database locally so that the test calculations and the result export works? O

[2018-02-01 07:25] wolfbunke commented on #78
Hey @gnn you can find the table which are use here: https://github.com/openego/eTraGo/blob/dev/etrago/tools/io.py#L301-L313

[2018-02-02 10:48] wolfbunke opened #125 "missing confic.json file after pip installation"
After I integrated etrago=0.5.1in eGo I got following error:
[code]

I will add this script part to setup.py  in order to fix the bug.
[code]

[2018-02-02 10:58] ulfmueller commented on #125
interesting.  Do you think that bug fix is good or rather a work around?

When does the error occur? In which line is it called?
Or does it happen already during installation? the pip installation worked fine for me...

[2018-02-02 11:41] wolfbunke commented on #125
I think it is good. eDisGo is also using for its different system files see: https://github.com/openego/eDisGo/blob/dev/setup.py#L44-L49 . The error happens during the setup installation because setup.py ignores all csv, json and other files if you use pypi and not` git clone` and  `pip install -e ....` With` package_data` you can point to system relevant files like our config.json in the folder t

[2018-02-02 12:11] nesnoj commented on #96
I need a current HV dataset asap. Anything new about the OSM update?

If not, I'd fix it manually for my specific application since a manual update of all related/derived eGo-tables were (at least for me) not fail-safe at all..
Related: #97

[2018-02-02 14:24] ulfmueller commented on #125
interesting I did a pure installation with pip install eTraGo and I did not see any error occur. (So I guess the error occurs when io.py calls the function to use the config file...)
But otherwise your solution and explanation sound good to me.

[2018-02-02 15:55] #125 closed

[2018-02-05 09:39] IlkaCu commented on #96
During our last project meeting we decided to stay with the current OSM data set until we finish the project. Would that be okay for you?
@ClaraBuettner already described and fixed some other topology errors for the EHV level in this [issue](https://github.com/openego/osmTGmod/issues/10). Would it be possible to include a similar 'manual' bug fix in the DP for your case?

[2018-02-05 10:40] nesnoj commented on #96
Thanks for getting back to me. A manual bugfix would suit my needs..

I fixed this 110 KV issue manually by adding these new lines without touching the original DP tables (as mentioned above, I do not want to break your model). I'm ok since it works for me.. Bit if it is crucial for eGo, @ClaraBuettner may fix it in the eGo tables..?!

**My solution**
Notes:
- I fixed it in derived bus and line ta

[2018-02-05 10:42] nesnoj commented on #97
@ClaraBuettner This bug is related to eHV, do you want to fix it similar to your [recent eHV fixes](https://github.com/openego/data_processing/blob/f832d7c31823c93aab71307c694dca8f1d719e98/utilities/ego_dp_fix_ehv_subnetworks.sql)?

I fixed it manually for my application so I do not depend on your fix but it might be crucial for the eGo grid model @IlkaCu ?

Details:
- I fixed it in derived bus an

[2018-02-05 15:19] ClaraBuettner commented on #97
I'm sorry but I am currently working on my bachelor thesis and just have a few weeks left. So I don't have that much time until the next dp run. I can show you what I did to fix the eHV errors and explain how it worked. It was more or less the same you already wrote, but I didn't referenced to ids, which will change in every dp run. I referenced by the geom and v_nom or s_nom.

[2018-02-07 14:16] wolfbunke opened #128 "Implement etrago_from_oedb in eTarGo NetworkScenario class"
A nice-to-have is the implementation of the ` etrago_from_oedb( )`
 function of eGo [ (see here)](https://github.com/openego/eGo/blob/dev/ego/tools/io.py#L113) into the class [NetworkScenario(ScenarioBase)](https://github.com/openego/eTraGo/blob/dev/etrago/tools/io.py#L89)

[2018-02-13 18:30] jankaeh opened #130 "Some generators have 2*8760 values for p_max_pu & p_set"
I already pointed this out at the oeplatform repository (https://github.com/openego/oeplatform/issues/306), but now I believe the issue is better placed here, as the table seems to be an output of eTraGo:

There seem to be six generators in the table ego_pf_hv_generator_pq_set in the grid schema of the database with twice as many values for p_max_pu and for p_set as normal:
https://oep.iks.cs.ovgu

[2018-02-14 07:52] ulfmueller commented on #130
Thanks for mentioning this curiosity! It is definitely not a 30min interval. Just by looking on the generator_id those buses should be buses of neighboring countries. To me it seems to be a bug.
Actually theses values are input values of eTraGo. So the best place for this issue is the ['data processing'](https://github.com/openego/data_processing) @IlkaCu Could you handle this and/or move it to th

[2018-02-14 09:35] IlkaCu commented on #130
I created an issue in the DP repository concerning this bug and I'll take care of it as soon as possible.

[2018-02-22 12:30] jankaeh opened #133 "data_manipulation_sh(network) fails to find biggest indices"
I don't know if I'm the only one stumbling over this, but the code of the function data_manipulation_sh(network) at eTraGo/utilities.py does not find the biggest index correctly on my System.

This code does not find the maximum of the indices correctly if they are str, because '9' is bigger than '1', '9999' is bigger than '10000':
new_bus = str(int(network.buses.index.max())+1)

I changed the lin

[2018-02-27 15:34] ulfmueller opened #134 "Adjust snapshot clustering to use tsam packages"
@kimvk will complete the effort of @simnh within this [branch](https://github.com/openego/eTraGo/tree/features/snapshot_clustering_app-tsam)
to use the tsam package instead of the own implementation.
Benefits are:
- we can use other clustering methods like k-means
- we can include peak-periods
- the code is probably a bit more robust and less buggy.

@simnh Will look for a solution of the [timeste

[2018-02-27 20:27] simnh commented on #134
Ok, I forget that the days do not necessarily have to be 'real' days, depending on the clustering method etc. (see: https://github.com/FZJ-IEK3-VSA/tsam/issues/5)

Therefore, I propose that we will skip 'real' days and use the standard return value of tsam. The only thing we have to do is the following:

* create new snapshots (see below for example)
* create new snapshot_weightings (see below for

[2018-02-28 14:20] #51 closed

[2018-02-28 14:28] #61 closed

[2018-02-28 14:30] #130 closed

[2018-02-28 14:42] ulfmueller commented on #133
Sounds good. Thanks for your debugging! Would you implement this in a feature branch (branching from dev) and create a pull request to merge your changes into dev?

btw: do I know you personally?

[2018-03-07 08:06] kimvk commented on #134
I did create new snapshots, snapshot_weightings and create new p_set dataframes for the load and the generators, but there is still a index error coming up:

KeyError: "None of [Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,\n            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,\n            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,

[2018-03-07 08:53] simnh commented on #134
I am not sure, but maybe the index ends up in an other list somewhere. At which point does the error occur, could you post the full error message?

[2018-03-07 14:55] kimvk commented on #134
Traceback (most recent call last):

  File "<ipython-input-2-f1df29ab3aa4>", line 1, in <module>
    runfile('C:/eTraGo/etrago/appl.py', wdir='C:/eTraGo/etrago')

  File "C:\Users\Kim\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 880, in runfile
    execfile(filename, namespace)

  File "C:\Users\Kim\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 102,

[2018-03-07 16:04] BartelsJ commented on #11
Is this still a desired issue? @lukasoldi

[2018-03-07 16:11] BartelsJ commented on #52
I close this issue since this came up with clustering issues, which are solved in the meanwhile.

[2018-03-07 16:11] #52 closed

[2018-03-07 16:12] BartelsJ commented on #47
Is this still a desired issue? @lukasoldi

[2018-03-08 09:59] lukasoldi commented on #47
I think we can leave it open since I think the issue is still relevant and worth being tested but with a low prio.

[2018-03-08 09:59] #11 closed

[2018-03-13 09:06] wolfbunke commented on #47
I just change the assignees to an active user account. Please change the assignee if I mistaken it.

[2018-03-13 09:10] #25 closed

[2018-03-14 13:09] simnh commented on #134
Gibt's hier schon was neues?

Ich würde mal irgendwo vor dem Fehler angucken mit z.B. `import pdb; pdb.set_trace()` wie das network mit den snapshots / weightings etc. aussieht und  ob das so ist wie du dir das vorstellst, oder hast du das schon gemacht?

[2018-03-14 14:16] BartelsJ commented on #66
Is this still an actual issue? @lukasoldi

[2018-03-19 15:15] IlkaCu commented on #96
I close this issue as this is not the right place for it. Further discussions take place in open_ego/dataprocessing #207.

[2018-03-19 15:15] #96 closed

[2018-03-19 15:16] IlkaCu commented on #97
I close this issue as this is not the right place for it. Further discussions take place in open_ego/dataprocessing #207.

[2018-03-20 05:42] nesnoj commented on #97
@ClaraBuettner Sorry for not getting back to you here, I did not adjust dp since I hoped that an OSM update will take place but apparently this is is not going to happen in eGo..

[2018-03-22 08:56] wolfbunke opened #136 "RTD: change docstring style of Parameters"
RTD displays the Parameters wrong. For example:
[code]
needs to be changes to :
[code]
See:
http://etrago.readthedocs.io/en/latest/api/etrago.html#subpackages

Examples:
http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html

[2018-03-26 09:32] nesnoj opened #137 "eTraGo exceptions related to k-means and network clustering"
Hey folks,

I'm trying to run eTraGo but get different exceptions - can you help me out?

Some basic info:
Ubuntu 17.04, python 3.5.3, venv with eTraGo version from [current dev](https://github.com/openego/eTraGo/tree/a44b2a5e3cfa77de51c24cb283d05c64708deb6a) incl. dependencies according to setup.py (pyPSA 0.11 etc..., no further packages/adjustments).

This problem seems to be related to k-means

[2018-03-26 11:13] wolfbunke commented on #137
Do you use the PyPSA fork from https://github.com/openego/PyPSA/tree/dev ?

[2018-03-26 11:54] ClaraBuettner commented on #137
Which pandas version is installed? Due to a bug in pypsa 0.11 it doesn't work with pandas > 20.3.
And it seems as you use another db, is it exactly the same as the oedb? Than I could try to reproduce the error. If it's not the same (exactly same buses) you need to create a new busmap for network-clustering.
In addition, there is at least one generator with p_nom_min = NaN which can cause the probl

[2018-03-26 13:06] nesnoj commented on #137
Thanks for your hints!

@wolfbunke
According to the [dependency link in setup.py](https://github.com/openego/eTraGo/blob/a44b2a5e3cfa77de51c24cb283d05c64708deb6a/setup.py#L25) the dev from ego fork should be used as install candidate for pyPSA.
But according to the installed pyPSA Files, it was not! (you may check what's the problem here..)
So I uninstalled pyPSA, cloned your fork@dev and reinstal

[2018-03-26 13:34] wolfbunke commented on #137
Yes I think the problem is the dependency_links of pip which is not installing the dependency any longer.
I will test the` pip install -e eTraGo --process-dependency-links --allow-all-external` [see](https://stackoverflow.com/questions/12518499/pip-ignores-dependency-links-in-setup-py)

[2018-03-26 13:38] wolfbunke opened #138 "change docu and way how to install etrago with its dependency links PyPSA"
The by using the `dependency_links` of pip, pip -e eTraGo is not installing the dependency any longer.
I will test if ` pip install -e eTraGo --process-dependency-links --allow-all-external` is working for us. [see](https://stackoverflow.com/questions/12518499/pip-ignores-dependency-links-in-setup-py)

[2018-03-26 13:39] wolfbunke commented on #137
see #138

[2018-03-26 13:41] ClaraBuettner commented on #137
The empty coulmn message has always been there and shouldn't cause a problem.
Did you try to create a new busmap?  Some weeks ago I fixed eHV bugs manually and I'm not sure if the busmap includes them.
I can check this soon.

[2018-03-26 13:51] nesnoj commented on #137
No I didn't modify the input data at all..

Thank you :+1:

[2018-03-26 15:19] ClaraBuettner commented on #137
I tested network-clustering for scenario Status Quo in the model draft and it worked well. Currently, it is only working in model_draft because the eHV-subnetwork errors are not in fixed in grid schema but share a busmap in model_draft. So until the next dp run you can not use network-clustering in grid schema.

[2018-03-27 07:14] nesnoj commented on #137
It works now, cheers!

Network clustering only (2 timesteps):
![etrago1_networkclustering](https://user-images.githubusercontent.com/15910173/37952091-f1fc2a28-319e-11e8-8ef0-7e6126b71e0e.png)

Interestingly, when I disable clustering the all line loadings are almost zero :astonished: :
![etrago1_noclustering](https://user-images.githubusercontent.com/15910173/37951969-8cd26cf2-319e-11e8-8792-181f

[2018-03-27 07:55] nesnoj commented on #137
The 2nd one seems to be correct. I chose a different timestep which results in several line loadings >> 0:

![etrago2_noclustering](https://user-images.githubusercontent.com/15910173/37953711-fa9d0c88-31a3-11e8-8470-6cb358328717.png)

Apparently, there's a large difference in line loading between the full 110kV-grid and the aggregated one.. seems quite odd to me as the relative loading of (non-)ag

[2018-03-28 16:34] lukasoldi commented on #66
It should be resolved with some changes by @ClaraBuettner, but I'm not certain these changes made it to the current data / dp version?!
@IlkaCu @ulfmueller

[2018-03-29 12:50] BartelsJ commented on #137
Indeed, this is interesting. Both color scales have the same values in your graphics, haven't they?

[2018-03-29 14:16] nesnoj opened #139 "line loading w/ and w/o network clustering differs significantly"
This one came up in #137 and deserves a separate issue.
Sorry for posting figures without legend in #137.. here are the full ones:

Full param set:
[code]

**A. Network clustering only (`'network_clustering' = True`)**
![etrago1_networkclustering](https://user-images.githubusercontent.com/15910173/38092785-7d88df66-3369-11e8-8848-b64dda0ced98.png)

**B. No clustering (`'network_clustering' = False

[2018-03-29 14:16] nesnoj commented on #137
I close this on in favor of a new issue #139 as the original problem is solved.

[2018-03-29 14:16] #137 closed

[2018-03-29 14:27] nesnoj commented on #139
Uh, my bad! I missed this output:
[code]
`Model was proven to be infeasible` - something with the input data? :disappointed:.
Same with other timesteps, but with `'scenario' = 'SH NEP 2035'` the results are far more plausible..
So it's something with the status quo?

[2018-03-29 14:41] ClaraBuettner commented on #139
To avoid feasibility problems you need to activate load shedding. Without clustering, the solver is unable to satisfy some loads and creates the error. This causes to small line loadings.
When you want to compare it to the clustered network you need to use the same generator noise. When not using generator noise, there are a lot of generators with the same costs, so the solver sometimes has to cho

[2018-03-29 15:07] nesnoj commented on #139
Now the loading looks similar. But some lines which are supposed to be equal (no superposed 110kV) with and without network clustering have different loadings. E.g. the 3 lines to NL.
Ok I guess this goes too far here.. @IlkaCu mentioned that this is subject of a current analysis..

Thanks for debugging! :+1:

[2018-03-29 15:07] #139 closed

[2018-04-03 07:18] BartelsJ opened #140 "Load k-means cluster"
A new [branch ](https://github.com/openego/eTraGo/tree/features/load_k_cluster) was created to enable the loading of former created cluster networks. At the moment there are problems in the later aggregation of lines while combining data tables with pandas.join().

Traceback (most recent call last):

  File "<ipython-input-11-a894517d1f07>", line 1, in <module>
    runfile('/home/jbartels/projekte

[2018-04-03 11:18] ulfmueller commented on #134
Any news on this?

[2018-04-03 11:21] ulfmueller commented on #113
@gnn Any news here?

[2018-04-03 11:22] simnh commented on #134
Some problems occurred. I created a fork where I added some lines of code to actually get the datetimeindex for hierarchical clustering. @kimvk  and I discussed, kim will create a pull request with this functionality for the original tsam repository.

tsam added already some new functionality but not what we require...but @kim is up-to-date

[2018-04-03 11:25] ulfmueller commented on #111
Just to follow up on this. @ClaraBuettner What is the status here? Will this be successful once the new data processing release is completed? Are the dp related todos integrated in the upcoming dp release?

[2018-04-03 11:42] IlkaCu commented on #66
I'm pretty sure that Clara's bugfixes on subnetworks were not applied for the v0.2.11 data set.
But it should be possible to apply the postprocessing scripts on this data set to fix it. @ClaraBuettner: Any objections?

[2018-04-03 12:11] ClaraBuettner commented on #66
Currently the subnetworks are only fixed in the latest model_draft. It is possible to adjust the script to fix v0.2.11. But I suggest this can cause errors because grid and model_draft schema share a busmap in the db. It should work local when you create a new busmap.

[2018-04-03 12:15] ClaraBuettner commented on #111
As far as I know, this won't be part of the new dp-release. But it could be used as a post-processing, because link-tables are added. So there is just one postprocessing script needed to add this.

[2018-04-03 12:53] ulfmueller commented on #104
@hftorres63 Are you planning to contribute anymore to this development? Which was the final branch you worked on?

I will focus on this in the upcoming weeks.

[2018-04-03 13:01] IlkaCu commented on #111
I already executed the code to create the link table in the database but it does not contain any data yet.
Is there any other code which need to be added to the dataprocessing or preprocessing to add data?

[2018-04-03 17:40] hftorres63 commented on #104
@ulfmueller  I was working on the branch lines_expansions. My last update was yesterday. If I need to change something on the labels, I make some modifications on the following days.

[2018-04-05 14:52] kimvk commented on #134
I did integrate the new code from @simnh from the tsam fork in this [branch](https://github.com/openego/eTraGo/tree/features/snapshot_clustering_app-tsam) and the datetimeindex is now used for further calculations/optimizations.
But I am wondering why the data of tsam_ts is not matching any data of the original dataframe? For the hierarchical clustering 'real' days are used, so it should fit.

[2018-04-05 14:55] simnh commented on #134
What about making a pull request at the original tsam repo, to check what I wrote...maybe there is something wrong with my implementation?

[2018-04-05 15:05] kimvk commented on #134
Okay, I will do that

[2018-04-05 15:45] kimvk commented on #134
[Get datetimeindex for hierarchical clustering #12](https://github.com/FZJ-IEK3-VSA/tsam/pull/12)

[2018-04-11 14:46] ClaraBuettner opened #141 "Integrate network_variations"
The possibility to extend and/or decommission components will be integrated. In addition a function to set components extendable will be added.

- [x] restructure new functions (extension, decommissioning, extendable)

- [x] add documentation of new functions

- [x] change order and names of arguments in appl.py

- [x] change order in appl.py: variations before load_shedding

- [x] integrate stora

[2018-04-11 14:49] ClaraBuettner commented on #141
With network_clustering it is not possible to do load_shedding after the network variations. The clustered network has generators with ids like '23647 biomass'. That trows out an error when I try to apply load_shedding on this:

ValueError: invalid literal for int() with base 10: '23647 biomass'

Is there a way to avoid this @ulfmueller ?

[2018-04-11 15:17] ulfmueller commented on #141
True. Mhh, I guess we would have to change the generator aggregation or the load shedding function.
Is this important in this context? Is this a 'new' problem?

[2018-04-11 15:57] ClaraBuettner commented on #141
I think its not that complicated to change. I could remove the carrier from the generator_id, since its not needed anymore after clustering. Or I could filter the id column when load_shedding wants to find the maximum. I would prefer the second possibility, then I wouldn't change the result.

[2018-04-11 18:56] ulfmueller commented on #141
well, I think removing the carrier from the generator_id is not possible because it is bus_id+carrier. Therefore if you remove the carrier the generator_ids would not be unique anymore. I am not sure if I understand what you want to do for the second option. Isnt the problem that it is a string and not a integer? But in general I am fine with the second solution, if it works :wink:

[2018-04-12 08:38] ulfmueller commented on #113
@gnn I tested the 'uniform' desaggregation. If I try it out for the entire grid (scn_name NEP 2035) I got the follwoing error:

[code]

Any ideas what this error is about?

[2018-04-12 08:41] ulfmueller commented on #113
This question (see above) I was wondering about again (possibly @MGlauer have told me already some time ago but I must have forgot it).  Anyhow would it be possible that the network resp. network.buses and so on get the decomposed solution?

[2018-04-13 14:11] MarlonSchlemminger opened #142 "Adjust eTraGo to new carriers wind_onshore/wind_offshore"
With the new DP run, the carrier 'wind' gets split up into 'wind_onshore' and 'wind_offshore' and I try to get an overview of what eTraGo functions need to be adjusted to that. So far I know about:
- plot_stacked_gen
- kmean_clustering

[2018-04-13 14:25] gnn commented on #113
About the assertion error: yeah, I put that in as a sanity check. But apparently I messed up generating the correct message so now I don't know what exactly went wrong.
Should be fixed now.
Putting the decomposed solution on the network is partially working. I need some pointers to what's missing though, to make that work completely.

[2018-04-16 07:47] ulfmueller commented on #142
@maltesc does the interface functionality towards eDisGo needs some adjustment due to this change?

[2018-04-16 08:44] ulfmueller commented on #142
for the k means clustering you mean this [line](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L404), right?
Well done, that you tackle this!

[2018-04-16 09:59] maltesc commented on #142
@ulfmueller, yes, minor changes are necessary.

I will take care of this during my next simulation run. Should these generators be aggregated in the interface, or will the changes also take place in eDisGo?

[2018-04-16 12:17] MarlonSchlemminger commented on #142
Yes, exactly.

[2018-04-17 08:29] wolfbunke commented on #138
I was not really able to test it because with git clone it works and for an pypi test the release has to be done.

[2018-04-17 08:29] #138 closed

[2018-04-17 08:35] wolfbunke opened #144 "add release notes for 0.6"
I just created the files for the release notes. Please fill it with informations.

see: fefb1ac

[2018-04-17 08:37] wolfbunke commented on #136
I changed the docs for appl.py please check you code. I move this ticket to the next release 0.7

[2018-04-17 08:41] wolfbunke commented on #89
Is the work done with your commit 182a84e ?

[2018-04-17 08:41] wolfbunke commented on #89
@s3pp ?

[2018-04-17 10:39] s3pp commented on #89
I don't know if it's done, but I do think that it is an improvement.

[2018-04-18 09:51] wolfbunke opened #146 "Testing 0.6 Release"
- Testing installation
  - config.json installed?
  -  PyPSA Fork installed?
  - Packages (ego.io, Pandas, etc.)
- Run test with ` python3 appl.py`
- ...

[2018-04-18 12:06] wolfbunke commented on #146
I was testing the release with:

[code]
In the folder etrago_test/lib/python3.6/site-packages/etrago/tools the` config.json` was missing also the pypsa fork was not installed. A Temporary solution can be found here:  http://openego.readthedocs.io/en/dev/getting_started.html

Infos to setup.py:
https://docs.python.org/2/distutils/setupscript.html

After fixing those issues the run and the software

[2018-04-18 13:34] wolfbunke commented on #146
bug is fixed in 40e2ee4

[2018-04-18 13:35] #146 closed

[2018-04-20 09:29] ulfmueller commented on #91
@wolfbunke you wrote this functionality for eGo, right? It would be nice to use this function also in eTraGo. How should we do this the best way? I guess the best would be to import that function from eGo. Can you prepare this in a branch?

[2018-04-20 12:02] ulfmueller opened #147 "release 0.6"
I suggest to postpone this release to next week (maybe even later) due to several reasons.
For a clean new release we also need an ego.io release. Since the dp is running at the moment I thought it would be more wise to save the energy to create an ego.io release just being valid for a few days/ couple of weeks. Instead, I would suggest to do this release after the successful dp run 0.4.0, releasi

[2018-04-20 15:42] ulfmueller opened #148 "arrows on line loading plot"
https://github.com/openego/eTraGo/tree/features/arrows-on-line-loading
@MarlonSchlemminger This development was over and already merged into dev or is this still ongoing?
If merged and over, I would like to delete the branch.

[2018-04-20 15:46] ulfmueller opened #149 "What to do with the clustering_analysis branch"
https://github.com/openego/eTraGo/tree/features/clustering_analysis
@kimvk What do you think we could do with this branch? I would say we can delete it, right?

[2018-04-20 15:48] ulfmueller opened #150 "Branch features/corr"
https://github.com/openego/eTraGo/tree/features/corr

@maltesc are you using this branch? Is it one to keep or anything we can merge from there into dev?

[2018-04-21 08:48] MarlonSchlemminger commented on #148
See #103. We could still improve this, for example using plotly, but I don't have the time for this. We can delete the branch I think.

[2018-04-23 06:14] wolfbunke commented on #91
yes and there is also a issue in  #128 I add it to milestone 0.7 because of time. The Function can be found here: https://github.com/openego/eGo/blob/dev/ego/tools/io.py#L119-L367. I think the best way is to use it in a new class like [ScenarioBase](https://github.com/openego/eTraGo/blob/dev/etrago/tools/io.py#L45)  and [NetworkScenario](https://github.com/openego/eTraGo/blob/dev/etrago/tools/io.p

[2018-04-23 06:15] wolfbunke commented on #91
I can prepare it for the next release.

[2018-04-23 06:18] wolfbunke commented on #147
Yes, I guess it is a good way. I already moved issues from milestone 0.6 to 0.7.

[2018-04-23 06:41] maltesc commented on #150
Yes, I use this branch for everything related to my thesis. If this is not OK, I can switch to a private repo.

Yes, I think there is plenty of code that can be used.

[2018-04-23 07:14] ulfmueller commented on #91
I guess one issue for this is enough. I suggest to close this one and follow up with the development in #128

[2018-04-23 07:14] #91 closed

[2018-04-23 07:17] ulfmueller commented on #150
It is totally ok. Keep working on this branch. I was just cleaning up a bit...

[2018-04-23 07:18] ulfmueller commented on #150
After your thesis we can check what code we can include how into the mainstream development. I will leave this issue open in order to have a reminder for this task.

[2018-04-23 09:46] ulfmueller commented on #149
ok. I did that.

[2018-04-23 09:46] #149 closed

[2018-04-24 15:52] ulfmueller commented on #95
This was done withing the [latest release](https://github.com/openego/eTraGo/tree/0.5.1)

[2018-04-24 15:52] #95 closed

[2018-04-27 11:58] ulfmueller opened #152 "Include solver_options into appl args"

[2018-05-07 18:31] jankaeh opened #153 "Congestions in Munich"
Running pf and lopf calculations with pypsa I have to cope with congestions/not converging calculations.
Because Munich somehow always seemed to make the biggest problems, I took a look at the overview map provided by Stadtwerke München (https://www.swm-infrastruktur.de/dam/swm-infrastruktur/dokumente/strom/netzstrukturdaten/strukturmerkmale/swm-infrastruktur-schema.pdf) and compared it to the gri

[2018-05-08 08:42] ulfmueller commented on #153
Nice work @jankaeh. Yes, we experience(d) these pf (and lopf) feasibility problems as well. We used a load shedding approach to identify the 'locations' of the infeasibilities (concerning the lopf). As well our conclusions were that it happens in areas with tense populations such as big cities (Hamburg, Munich, Berlin,...). The reason seems to be the high amount of underground cables of which the

[2018-05-08 13:14] ulfmueller commented on #153
@BartelsJ @lukasol @MarlonSchlemminger If you have any opinions on this - let me know. See also the PR #154.

[2018-05-08 13:34] jankaeh commented on #153
Note that I ran a lopf with line extensions before, but still had problems with not converging pf. That's why I took a closer look at Munich:
![2011-01-08 09 00 00](https://user-images.githubusercontent.com/33579567/39759626-7704ad26-52d3-11e8-8e5d-70d9e4e4e2ce.png)
I wanted to do the same for Stuttgart, but as the 110-kV-lines in the city are owned by a TSO not by a DSO there is no map availabe.

[2018-05-08 13:40] jankaeh commented on #153
* in the plot bus0 and bus1 of extended lines for that snapshot are blue

[2018-05-08 13:42] ulfmueller commented on #153
good to know.

yes we are in the process of running an lopf for every single hour for the Status Quo scenario. But the plan was not to introduce the changes in the OEP but rather provide these corrected s_nom as a csv in the eTraGo repos which you can read to overwrite the s_nom values. The complete run will take about 3-4 days. We will give notice when it ran successfully.

[2018-05-09 09:47] MarlonSchlemminger opened #156 "KeyError 'Link' in dev"
I get an error while building the network with the current dev-branch. Gridversion is 0.3.0pre1. Will this be fixed after the dp run?

Warning: Relation Link does not exist.
Traceback (most recent call last):

  File "<ipython-input-1-b0a26e043351>", line 1, in <module>
    runfile('C:/Users/marlo/Anaconda3/envs/openego/Lib/site-packages/eTraGo/etrago/appl.py', wdir='C:/Users/marlo/Anaconda3/envs/

[2018-05-09 12:59] ulfmueller commented on #156
Please check out ego.io in the dev branch then it'll work. yes after a new dp and ego.io release this will be 'fixed'.

[2018-05-09 13:06] ulfmueller opened #157 "bus weightings for kmeans"
It makes sense to introduce a bus weighting which is calculated from the Status Quo scenario and use it also for the future scenarios. Therefore it would be good to implement a functionality to calculate and save a bus weighting and as well take a given weighting.

[2018-05-09 13:50] #156 closed

[2018-05-09 17:46] maltesc opened #158 "Bugs in results_to_oedb"
I have just found two bugs in the result exporter.

1) I have just moved a few important result datasets from `model_draft` to `grid`. Afterwards, I have cleaned the `model_draft` results. However, now the exporter begins with `result_id = 1`. This will probably collide with the already existing results in `grid `(in case the new results are moved to grid). The exporter should rather check the ID'

[2018-05-10 10:27] maltesc opened #159 "Find best solver_options"
Since I have some trouble finding the correct solver options, I opened this issue in order to discuss the different options.
First, I have tried these settings: https://github.com/openego/eTraGo/blob/features/storage-paper/etrago/appl.py#L295, However, I get the error message: `ValueError: Cannot load a SolverResults object with bad status: error`. @ClaraBuettner, I remember you had the same probl

[2018-05-10 10:30] maltesc commented on #158
Furthermore I see, that the exporter adds new sources to the Sources table in case they are not found in the table. I don't know if this is a desired functionality for the "static" grid schema...

[2018-05-13 12:29] MarlonSchlemminger commented on #159
I have never looked into the solveroptions so far, so I don't think I can contribute to this issue. What I have experimented with a little bit is the formulations (angles and kirchhoff) and generally, angles is faster in small networks and kirchhoff is faster in bigger networks. I don't know the break even point though.

[2018-05-14 08:59] MarlonSchlemminger commented on #31
I've pushed a new version of code. Two csv-Files (one for transformers, one for lines) including all components with changed s_noms are produced and can then be used to overwrite s_noms in the next run. In a new environment on the server with most recent versions of etrago and egoio, it looks like there are no unbounded timesteps anymore (at least some timesteps which were unbounded before are now

[2018-05-14 09:35] ClaraBuettner commented on #159
Yes I had problems with the solver options as well. It seemed to be random if the calculation works on the server, but I couldn't find the reason why. With my laptop it never worked. With smaller problems the possibility to run is higher, so I guess it has something to do with the RAM which is much smaller in my laptop. Did you tried to calculate on the server or locally?
I also tried to understan

[2018-05-14 12:47] MarlonSchlemminger commented on #31
The most recent versions of egoio and etrago didn't solve the issue with unbounded problems entirely, but I identified generator_noise as another solution. Using noise values generated on the server make some timesteps unbounded, whereas noise values generated on my local computer and then copied to the server make them feasible. I calculated over a 100 timesteps now and all are feasible with loca

[2018-05-15 12:53] jankaeh commented on #153
I found a map for Stuttgart and environment, which I used together with Qgis to identify several problems (although this map is much worse than the one from Munich: https://assets.ctfassets.net/xytfb1vrn7of/NZO8x4rKesAcYGGcG4SQg/b780d6a3ca4c2600ab51a30b70950bb1/netzschemaplan-110-kv.pdf).
I added missing connections. It seems that in this particular case there are some 110-kV-overhead-lines mapped

[2018-05-18 09:58] #157 closed

[2018-05-22 11:43] BartelsJ commented on #159
Do you have also check the log-file to proof whether the barrier method is better at solving your problem than dual simplex for example? Sometimes I had some comments in the file that barrier was non-optimal. Regarding a speed-up of the simulation I would also suggest the kirchhoff formulation for LOPF calculations as mentioned by @MarlonSchlemminger and increase the convergence tolerances careful

[2018-05-23 13:45] wolfbunke opened #161 "Add json arg reader /writer as feature"
For an better handling of multiple calculation and setting changes of the arg dict from the appl.py file a function for reading and writing multiple setting as json is needed.

similar to the ego function [see here ](https://github.com/openego/eGo/blob/dev/ego/tools/utilities.py#L11-L37)

[2018-05-29 09:04] IlkaCu opened #164 "Structure and responsibilities for eTraGo RTD"
The RTD for eTraGo is about to be revised. The suggested structure of the documentation looks like this.

* About eTraGo (#165)

* Installation // Getting started (#166)

* How to use eTraGo? (#167)
** Examples/Notebooks

* Theoretical Background and Methods (#168)
** Definitions and Units
** Data Sources
*** Input-/Output data
*** Scenarios
** Methodology
*** PyPSA
*** Cluster
*** Plots
*** Featu

[2018-05-29 09:24] IlkaCu opened #165 "RTD: About eTraGo"
The chapter 'About eTraGo' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

[2018-05-29 09:25] IlkaCu opened #166 "RTD: Installation // Getting started"
The chapter 'Installation // Getting started' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

[2018-05-29 09:32] IlkaCu opened #167 "RTD: 'How to use eTraGo?'"
The chapter 'How to use eTraGo?' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

This part of the documentation should include links to existing tutorials and/or Jupyter Notebooks
'** Examples/Notebooks'

[2018-05-29 09:37] IlkaCu opened #168 "RTD: 'Theoretical Background and Methods'"
The chapter ''Theoretical Background and Methods'' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

The suggested underlying structure of this part of the documentation looks like the following:

** Definitions and Units
** Data Sources
*** Input-/Output data
*** Scenarios
** Methodology
*** PyPSA
*** Cluster
*** Plots
*** Features
** Referenc

[2018-05-29 09:38] IlkaCu opened #169 "RTD: 'Notes to developers'"
The chapter 'Notes to developers' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

[2018-05-29 09:39] IlkaCu opened #170 "RTD: 'What's new?'"
The chapter 'What's new?' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

[2018-05-29 09:44] IlkaCu opened #171 "RTD: 'API'"
The chapter 'API' needs to be checked for completeness, tasks need to be derived and improvements should be implemented.

[2018-05-29 09:46] IlkaCu commented on #164
Feel free to change the assignees of the corresponding issues.

[2018-05-29 12:51] wolfbunke opened #172 "do we need the file desktop.ini ?"
I just saw the file desktop.ini and don't know if its needed?

[2018-05-29 13:24] wolfbunke opened #174 "Dokumentation of eTraGo core functions for chapter Theoretical Background"
- Identify core functions of eTraGo.
- Check Sphinx Documentation if it's sufficient

[2018-05-29 13:26] wolfbunke opened #175 "RTD: Check Documentation of Code and RTD"
- Check if all doc-strings are displayed
- Make list of errors and missing docs

[2018-05-31 15:37] BartelsJ opened #176 "RTD: Style guide pep8 for python code"
The generated eTraGo code has to be checked with respect to the pep8 style guide. A short [introduction ](https://github.com/openego/eTraGo/wiki/How-to-ensure-your-python-code-to-match-style-guide-pep8) is on the wiki page.

[2018-06-05 13:40] BartelsJ opened #177 "Kirchhoff formulation fails at loading Intel MKL libraries"
When switching from angles to the kirchhoff formulation at network.lopf (several scenarios and data set versions),  I receive a 'Kernel died, restarting' remark from spyder and following information at my terminal:
**Intel MKL FATAL ERROR: Cannot load libmkl_avx512.so or libmkl_def.so.**
(mkl is installed at version 2017.0.3)

As suggested [here](https://github.com/BVLC/caffe/issues/3884), the exa

[2018-06-13 15:53] ulfmueller opened #181 "Considering snapshot_weightings for plotting of results"
When skipping snapshots or using snapshot clustering some plots which calculate 'energy over a period of time' do not get the right scaling. Please check for which plots this is relevant and find a rather object-oriented solution which can be reused for different functions.
[Here](https://github.com/openego/eTraGo/pull/180/commits/0f074e0947a93838dea10259073c8dab85a2174d) I implemented something t

[2018-06-13 15:55] ClaraBuettner commented on #172
I'm sorry for the late answer. I don't know why the file has been created but it can be deleted without any effect, I just tested this.

[2018-06-13 16:08] ClaraBuettner commented on #159
I don't know how useful this is currently, but I guess I found a possible reason for the problems with the solver options. The setting Crossover : 0 seems to be a problem, the setting disables crossover (which transforms the interior solution into a basic solution) (http://www.gurobi.com/documentation/7.5/refman/crossover.html). That's faster because of the missing transformation, but the interior

[2018-06-18 13:10] ulfmueller commented on #141
@ClaraBuettner How did you solve this issue in the end? Can we close the issue?

[2018-06-19 08:31] ClaraBuettner commented on #141
Yes, this was solved. Just the issue for the position of k_means is missing, I'll create this and close this issue.

[2018-06-19 08:46] ClaraBuettner opened #183 "Order of k_means clustering and scn_extension"
When using k_mean-clustering and an extension-scenario the order of these functions is important.
If k_means is applied first, only the existing scenario is clustered and the new buses and lines are added to this clustered network without any changes.
The other way around, the components of the extension scenario are included in the clustering. This way, the extension-lines and buses get somehow l

[2018-06-19 08:46] ClaraBuettner commented on #141
I created the issue to discuss the position of k_means clustering #183

[2018-06-19 08:46] #141 closed

[2018-06-20 08:33] #172 closed

[2018-06-20 12:53] IlkaCu commented on #97
We further discussed this issue in ticket [#207 of the DP](https://github.com/openego/data_processing/issues/207#issuecomment-398673703)

[2018-06-20 12:53] #97 closed

[2018-06-20 14:29] ulfmueller commented on #153
This will be tackled by #154 and once merged closed.

[2018-06-22 13:31] BartelsJ commented on #113
Just as information: Yesterday, I tested it and got the following error while matching original and cluster bus IDs: (Arguments below)

2018-06-21 17:18:59.818078
No data for StoragePqSet in column p_set.
Series p_set of component StorageUnit could not be imported
start k-mean clustering
INFO:pypsa.pf:Slack bus for sub-network 0 is 0
INFO:pypsa.opf:Performed preliminary steps
INFO:pypsa.opf:Buildi

[2018-06-23 09:29] MarlonSchlemminger opened #184 "No executable for solver gurobi found"
Since today, I get an error that gurobi can not be found on the student account on the server when running the appl.py. Last weekend, the license for gurobi expired and I renewed it via gurobigetkey which worked. Does anyone have an idea why this happened and how to fix it? Clara, Malte, did you do anything on the account yesterday evening or today which might be related to this? I don't just want

[2018-06-23 10:00] ClaraBuettner commented on #184
I haven't calculated anything in the last days. Did you tested the new license? Line "val = ILMLicensedSystemCallSolver.available(self, exception_flag)" seems to reference to a license problem.
To check if gurobi is installed you can type "gurobi.sh" in linux shell.

[2018-06-23 10:12] MarlonSchlemminger commented on #184
The license is fine I think, I renewed it on Monday I think and everything worked until this morning and the license file says it expires 2019-06-18. I think it is coincidence that the word license appears in the error log.

gurobi.sh says Befehl nicht gefunden, both in my environment and outside of it. Does this mean gurobi is not installed anymore? Because the gurobi folder still exists..

[2018-06-24 15:08] ClaraBuettner commented on #184
Yes, I'm quite sure that this means that it's not installed anymore, normally it would open a gurobi shell. But when it once worked with the new license that couldn't be the problem.
Maybe it is helpful to update gurobi to the newest version? I'm sorry but I never had this error and can only guess what might help, and I use Anaconda so the setting on the server is different too. I remember that th

[2018-06-25 07:34] ulfmueller commented on #184
We updated the solver (one of your wishes :wink: ) to the newest.  Weird, that you cannot enter gurobi.sh. I would have said, get a new license and everything should be fine. @MGlauer Could you please checkout the 'student' user and tweak it like you did it for the openego user? Or is it sth. we could do ourselves if you give us 'how-to' hints?

@MarlonSchlemminger Sorry for the confusion!

[2018-06-25 08:47] ulfmueller commented on #183
This relates to a problem we encountered with the [disaggregation method](https://github.com/openego/eTraGo/tree/features/disagg-uniform). Since we change the clustered network after the clustering we get an inconsistency. This can (depending on the functionality does not has to) lead to a malfunctioning of the disagg-uniform method. In the mentioned branch I changed the order therefore.

To pictu

[2018-06-25 10:02] ulfmueller commented on #152
done! thx @ClaraBuettner

[2018-06-25 10:02] #152 closed

[2018-06-25 10:04] ulfmueller commented on #147
The 27th of june is release day.

[2018-06-25 10:07] ulfmueller commented on #142
@MarlonSchlemminger @maltesc did you apply your changes?
@maltesc How was your question answered in the end?
Can we close this issue?

[2018-06-25 10:09] ulfmueller commented on #140
I think this was solved since the feature got merged into dev, correct @BartelsJ ?
Maybe as a pre-docu give some explanation of the new functionality in a few words here and then we close this issue, ok?

[2018-06-25 10:17] ulfmueller commented on #134
successfully implemented in the branches:
dev
features/snapshot_clustering_analysis (for analysis purposes)

[2018-06-25 10:17] #134 closed

[2018-06-25 11:44] ulfmueller commented on #111
I would say - this task is entirely done, correct @ClaraBuettner ?

[2018-06-25 15:29] MarlonSchlemminger commented on #142
I changed the one line in k_mean_clustering and pushed it and the colors for plotting were already changed by you. Can be closed in my opinion.

[2018-06-26 09:15] #89 closed

[2018-06-26 15:09] ulfmueller commented on #167
it is planned to:

- explain the usage 'step by step'
- explain the structure of the args
- explain the input and output interfaces
- have a sub chapter for 'plotting/visualization'
- use links to the functions ans use screenshots of plots

[2018-06-26 15:14] ulfmueller commented on #165
tasks:

- [ ]  add/specify the 'scope/aims'
- [ ] linguistic check
- [ ] add a overview graphic of all tools surrounding eTraGo (oep, oedb, ego.io, eDisGo, eTraGo, eGo (...)) [ @wolfbunke  ]

[2018-06-26 15:19] BartelsJ commented on #168
Further development in [RTD Methods branch](https://github.com/openego/eTraGo/tree/feature/rtd-methods).

[2018-06-26 15:26] BartelsJ commented on #176
We used the pypi package autopep8 in `autopep8 -a -a example.py > example_pep8.py` to generate files with respect to pep8 style automatically and adapt these files with minor changes afterwards.
The issue is closed due to the corresponding merge into dev-branch in #185.

[2018-06-26 15:26] #176 closed

[2018-06-27 08:37] MarlonSchlemminger commented on #184
The grbgetkey command is not known either anymore on the server, so I am pretty sure it is the installation and not the license. Any news @ulfmueller  @MGlauer ?

[2018-06-28 08:56] MarlonSchlemminger opened #190 "K-means-clustering reduces available energy of variable carriers"
When using k-means-clustering, the total available energy of variable carriers (sum over p_max_pu*capacity for each generator) is smaller than in the original network. The total capacity is the same in both networks, which means that the p_max_pu-calculation seems to have an error. The biggest difference appears for wind onshore, where the available energy is 10% smaller after clustering. Could yo

[2018-06-29 08:42] BartelsJ commented on #190
Does it appear for all carriers? The p_max_pu should be adapted in this [function ](https://github.com/openego/PyPSA/blob/dev/pypsa/networkclustering.py#L68)as far as I know.

[2018-06-29 08:53] BartelsJ commented on #140
Sure. A new argument "load_cluster" was introduced into the appl.py to load former calculated k-means grids.

The application of k-means saves a file 'cluster_coord_k_ii_result' (ii is the number of chosen k) containing the coordinates of all new k-nodes automatically. To load these into a new simulation, set 'load_cluster = /Path/to/file/cluster_coord_k_ii_result" in the arguments of appl.py. Don

[2018-06-29 08:53] #140 closed

[2018-06-29 09:02] MarlonSchlemminger commented on #190
I only tested it for scenario Status Quo in 0.4.1 so far. Run of river isn't affected, solar changes only marginally (0.1%), wind offshore 2.5% and wind onshore 10%. I will have a look at the function, thanks.

[2018-07-02 10:37] MarlonSchlemminger commented on #190
I think I know why this happens, but please correct me if I missunderstood some steps in the process (this was the first time I looked into k-means-clustering in detail).

1. [Here](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L480), generators.weight is set to 1.
2. [Here](https://github.com/openego/PyPSA/blob/dev/pypsa/networkclustering.py#L74), the weighting wh

[2018-07-02 10:43] MarlonSchlemminger commented on #190
We probably only need to change a single word, [this line](https://github.com/openego/PyPSA/blob/dev/pypsa/networkclustering.py#L74) from
`weighting = generators.weight.groupby(grouper, axis=0).transform(lambda x: (x/x.sum()).fillna(1.))`
to
`weighting = generators.p_nom.groupby(grouper, axis=0).transform(lambda x: (x/x.sum()).fillna(1.))`

[2018-07-02 11:32] wolfbunke opened #191 "Error by using sh scenario in eTraGo with func data_manipulation_sh()"
By using the SH scenario I got following Error:

[code]
see also: https://github.com/openego/eTraGo/blob/dev/etrago/tools/utilities.py#L317-L354

[2018-07-03 10:44] BartelsJ commented on #190
Looks good to me! You are very welcome to test it in a corresponding branch. :+1:

[2018-07-06 07:03] #111 closed

[2018-07-09 06:58] wolfbunke commented on #175
I checked the doc strings with following result:

[code]
For now almost all function are displayed but the documentation and quality of documentation has to be improved.

[2018-07-09 07:09] wolfbunke commented on #174
As core function we identified `appl.etrago()` , `io.NetworkScenario`  as well as cluster, storage and grid expansion function. Those function will additionally documented in [Theoretical Background ](https://etrago.readthedocs.io/en/latest/theoretical_background.html).

[2018-07-09 07:09] #174 closed

[2018-07-09 07:17] wolfbunke commented on #171
I check the API and functions here  #175

[2018-07-09 07:29] #147 closed

[2018-07-09 07:31] #104 closed

[2018-07-09 19:07] MarlonSchlemminger commented on #184
Fixed.

[2018-07-09 19:07] #184 closed

[2018-07-10 12:18] MarlonSchlemminger commented on #190
I pushed a [branch](https://github.com/openego/PyPSA/tree/k-means_weight_pnom) to our PyPSA fork. As I expected, changing the single word for the calculation of the weighting from weight to p_nom fixes it and the available energy in the clustered network is now the same as in the original network. I don't think this should have an effect on anything else, because the variable weighting is only use

[2018-07-10 12:33] MarlonSchlemminger commented on #190
I assigned you to the pull request. I think the problem only appears from dataset 0.4.1 onwards, because the p_max_pu profiles were the same inside each technology for all generators of the technology before 0.4.1. If the p_max_pu profiles differ between generators though, you need to consider the capacity of the generators when aggregating them.

[2018-07-10 12:40] ulfmueller commented on #190
Thx! Makes sense what you say. But I still have one thing in mind I want to check...

[2018-07-10 12:54] ulfmueller commented on #190
I am struggling with the change because we set the 'weight' in our etrago function and then we would just not use this value anymore. Hence [this](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L480) or [that respectively](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L544) would just be neglected and therefore obsolete.

[2018-07-10 12:56] MarlonSchlemminger commented on #190
What is the 'weight' good for, is it used for anything else? If not, it is obsolete.

[2018-07-10 13:45] ulfmueller commented on #190
Since this 'weight' implementation is part of PyPSA I would prefer that we change our 'weight' in etrago and leave the PyPSA code as it is...

[2018-07-10 14:16] MarlonSchlemminger commented on #190
Ah no I think I understand what you mean. I would change both lines you linked from
`network.generators['weight'] = 1`
to
`network.generators['weight'] = network.generators.p_nom`
and leave the PyPSA code as it is. This should be the same result. Right? I will tackle this tomorrow.

[2018-07-10 14:39] ulfmueller commented on #190
yes. that should do it. Only that the 'weight' would be then no relative parameter which is a bit ugly.
It might be also worth thinking of additionally grouping over same p_max_pu shape besides the carrier and bus grouper. Then we would not throw together differently behaving generators. But that would minimize the reduction of complexity. That is probably not a really good idea.

Btw:

p_nom_max

[2018-07-11 07:21] MarlonSchlemminger commented on #190
Everything worked as expected and I assigned you to the new pull request. The available energy remains the same after clustering and the generator weight is equal to its p_nom. As you said, grouping by the same p_max_pu shape (which would mean by the same weather cell) would mean a pretty high minimum amount of clustered nodes and is not a good idea in my opinion.

[2018-07-11 07:41] ClaraBuettner commented on #183
This affects as well the calculation of capital costs in k means clustering. Currently, costs per v_nom are set after clustering, so all lines get costs for 380kV lines and will be underestimated.
To implement a weighted average of costs for each line, costs need to be set before.

[2018-07-11 09:47] ulfmueller commented on #190
Thx! I approved the PR. Good job finding out about this and fixing it!

[2018-07-11 09:47] #190 closed

[2018-07-11 09:50] ulfmueller commented on #181
#193 closes this.

[2018-07-11 09:50] #181 closed

[2018-07-11 10:07] ulfmueller opened #197 "Deal with line aggregation of k-means and line expansion"
When optimizing line expansion the [k-means line aggregation](https://github.com/openego/PyPSA/blob/master/pypsa/networkclustering.py#L178) has to be checked and slightly adjusted.

Adjustments:

- [x] [Here](https://github.com/openego/PyPSA/blob/master/pypsa/networkclustering.py#L196),  if one of the lines within a cluster is extendable=True the linegroup has to be a True as well.
- [x] Lines whi

[2018-07-11 16:19] BartelsJ commented on #191
I reproduced this. Anyone working on this issue yet?

[2018-07-12 13:19] lukasoldi commented on #191
This is probably due to the fact that there is no data scenario for SH after version 'v0.2.11'. Must be created via dataprocessing.

[2018-07-18 08:09] ulfmueller opened #199 "plot_line_loading is not working properly"
The new line loading functionality has got problems with the weighting.

Moreover the link representation should be checked.

[2018-07-18 09:39] ClaraBuettner commented on #199
In branch https://github.com/openego/eTraGo/tree/feature/fix_plot_line_loading the colorbar fits to line and link loading, so link loading is not over 100% anymore.

[2018-07-18 14:04] ulfmueller commented on #199
#200 fixes this.

[2018-07-18 14:04] #199 closed

[2018-07-24 15:37] ulfmueller opened #203 "Fix curtailment plotting function"
It seems like that the integration of the snapshot_weightings is producing a bug in the curtailment() plotting function. The resulting 'dispatches' are too high.

Please check and fix.

[2018-07-26 06:36] #142 closed

[2018-07-31 08:48] ClaraBuettner commented on #197
S_nom_min and s_nom_max is set for all lines and transformers in [this branch](https://github.com/openego/eTraGo/blob/feature/%23197/etrago/tools/extendable.py).
The capital cost function needed to be changed, this is updated in the branch of the referenced pull request.
Currently, it's assumed that clustering is applied after setting capital costs.

[2018-08-03 07:56] kimvk commented on #107
Hi,
here is a short summary about the present status about the snapshot constraints for seasonal storages, see [branch](https://github.com/openego/eTraGo/blob/features/snapshot_clustering_seasonal_new/etrago/cluster/snapshot.py).

Attached please find the results of a calculation for one week with 2 snapshots. Additionally the pdf document gives an overview about the revelant storage constraints.

[2018-08-08 10:19] ClaraBuettner opened #213 "Gurobi SolverOptions documentation"
### threads
 Number of threads to apply to parallel algorithms (concurrent or barrier).

default(0):	Uses all cores in the machine
Reduce if parallel calculations or tight memory.

http://www.gurobi.com/documentation/8.0/refman/threads.html

### method
 Algorithm used to solve optimization of lopf.

default (-1, concurrent):	 _chooses between simplex or barrier method due to matrix range_
1 (simpl

[2018-08-09 07:59] ulfmueller opened #214 "kmean_clustering() returns clustering instead of network"
The kmean_clustering() since the disaggregation was merged into dev now returns [clustering](https://github.com/openego/eTraGo/blob/dev/etrago/cluster/networkclustering.py#L557) instead of network.
Does that have a reason or is that necessary for the disaggregation?
It changes the usage of the function slightly since like this the network is stored in clustering.network...

[2018-08-09 08:47] ulfmueller opened #215 "disaggregation object does not want to be a pickle?!"
Using eGo's MV grid parallisation, the error occurs: TypeError("can't pickle memoryview objects",) which seems to happen due to the disaggregation method.

[2018-08-15 15:43] maltesc commented on #215
I can't tell the reason for the former pickle-related error. However, I managed to run the parallelization with a subset of the eTraGo network, only containing the necessary information for eDisGo (see: https://github.com/openego/eGo/blob/49d3a8f2e9a0da28cf45a4875072ae7e7ca18180/ego/tools/edisgo_integration.py#L782-L800 and https://github.com/openego/eGo/blob/49d3a8f2e9a0da28cf45a4875072ae7e7ca181

[2018-08-16 07:09] ClaraBuettner commented on #203
Solved in https://github.com/openego/eTraGo/pull/206.

[2018-08-16 07:09] #203 closed

[2018-08-16 07:14] ClaraBuettner commented on #197
This has been done in https://github.com/openego/eTraGo/pull/209 and https://github.com/openego/PyPSA/pull/7. Since the NEP-extendable scenarios are still visible when k mean clustering is applied last, this order was chosen.

[2018-08-16 07:14] #197 closed

[2018-08-16 07:15] ClaraBuettner commented on #183
This has been done in https://github.com/openego/eTraGo/pull/209 and https://github.com/openego/PyPSA/pull/7. Since the NEP-extendable scenarios are still visible when k mean clustering is applied last, this order was chosen.

[2018-08-16 07:15] #183 closed

[2018-08-18 16:19] ulfmueller opened #217 "skip_snapshot is depreciated due to k_means_clustering()"
Since the order changed and the skip_snapshots is executed before the k_means_clustering the weighting after the clustering is 1 again.
I do not get why. Changing the order fixes it but then disaggregation would have problems.
Any ideas?

[2018-08-21 14:52] BartelsJ commented on #217
So the weighting of the snapshots is set to 1 again instead of the number of skipped snapshots? And the disaggregation works from the view of the clustering and does not regard aggregated snapshots additionally?
Does the changes in disaggregation come along with a huge amount of work? If not, I prefer to change the order of reduction methods and adapt the disaggregation procedure.

[2018-08-21 19:59] ulfmueller commented on #217
4c95eeac7c121dcb0dbdf14a34f11d1a99efb701 fixes it 'quick and dirty'. I would like to understand why this happens.... @gnn any ideas?

[2018-08-23 14:20] jankaeh opened #220 "validation"
Hi, I'm not sure which repository is the right one for this issue... It's definitely also related to the osmTGmod-repository.
I am trying to validate the model under use of the line loadings from the 50hz Netzlastapp (http://www.50hertz.com/Netzlast/Karte/index.html) together with market data for the feedin of each generator.
As a first step I assigned the substations of the 50hz-lines to the ones

[2018-08-24 08:57] BartelsJ commented on #168
[Merged](https://github.com/openego/eTraGo/commit/e36ba69012d130d2c04a085cfc63fd23b749bbb2)

[2018-08-24 08:57] #168 closed

[2018-08-24 08:58] BartelsJ commented on #191
Thanks for the hint! I close this issue

[2018-08-24 08:58] #191 closed

[2018-08-24 09:00] BartelsJ opened #221 "Datav0.4.4 eGo100"
Using the data set v0.4.4 I received following error for the eGo100 scenario. Any hints?

runfile('/home/jbartels/projekte/open-ego/eTraGo/etrago/appl.py', wdir='/home/jbartels/projekte/open-ego/eTraGo')
Reloaded modules: etrago, etrago.cluster, etrago.cluster.disaggregation, pypsa, pypsa.components, pypsa.descriptors, pypsa.io, pypsa.pf, pypsa.contingency, pypsa.opt, pypsa.opf, pypsa.plot, pypsa.

[2018-08-24 17:27] ulfmueller commented on #221
What are your args? I have no troubles running calculations on 044 and eGo 100.

[2018-08-24 17:30] ulfmueller opened #222 "uniform disagg and generator_t.q"
The plausibility check shows that currently the generator_t.q are not correctly disaggregated. At least the Series sums, generators, clustered - disaggregated for q gets quite large. I tried it out with v0.4.5 and 0.4.4, eGo 100 and NEP 2035.

@gnn could you tackle this?

[2018-08-29 11:32] ulfmueller commented on #215
I'd say this issue can be closed. Do you agree?

[2018-08-29 12:34] #215 closed

[2018-08-29 13:42] wolfbunke commented on #214
something new?

[2018-08-29 13:44] wolfbunke commented on #213
Will this be part of the eTraGo RTD documentation and/or release 0.7?

[2018-08-29 13:51] wolfbunke commented on #153
can we close this ticket @ulfmueller @BartelsJ ?

[2018-08-29 13:53] wolfbunke commented on #133
@ulfmueller, is this relevant for the 0.7 Release?

[2018-08-29 13:55] #166 closed

[2018-08-29 13:56] wolfbunke commented on #164
The structure is implemented and the single issues almost done.

[2018-08-29 13:56] #164 closed

[2018-08-29 13:58] #153 closed

[2018-08-29 13:59] wolfbunke commented on #158
@maltesc does this issue still exist / is relevant?

[2018-08-29 14:01] wolfbunke commented on #103
@BartelsJ  you wanted to take this ticket right?

[2018-08-29 14:02] #13 closed

[2018-08-29 14:07] wolfbunke commented on #79
iplot() as the newer versions of pypsa provides are not part of eTraGo any more. Based on eGo, ego.iplot based on Leaflet and folium plots eTraGo's results as an interactive html file. see:
https://github.com/openego/eGo/blob/dev/ego/tools/plots.py#L362

[2018-08-29 14:07] #79 closed

[2018-08-29 14:11] wolfbunke commented on #107
@ulfmueller ,is this issue relevant for the 0.7 Release?

[2018-08-29 14:13] wolfbunke commented on #90
@BartelsJ did you add this to our validation list and can we close this issue? @ulfmueller

[2018-08-29 14:16] wolfbunke commented on #175
@ulfmueller  @BartelsJ  are the missing docs and errors already implemented ?

[2018-08-29 14:18] #136 closed

[2018-08-29 14:19] #109 closed

[2018-08-29 14:40] BartelsJ commented on #221
Hm, strange. I used the following arguments. Interestingly, NEP 2035 and Status Quo are ok.. if you do not receive this failure, I have to check my package settings..

args = {  # Setup and Configuration:
    'db': 'oedb',  # database session
    'gridversion': 'v0.4.4',  # None for model_draft or Version number
    'method': 'lopf',  # lopf or pf
    'pf_post_lopf': False,  # perform a pf after a